[2019-03-12 09:06] hrishin opened #1 "Unable to access https://tekton.dev"
Getting the following error if I'm trying to access it

![image](https://user-images.githubusercontent.com/28615674/54187694-279f0800-44d4-11e9-8b07-d783a62986ae.png)

[2019-03-12 16:09] lucperkins commented on #1
This appears to have been fixed: https://tekton.dev/

[2019-03-12 16:17] caniszczyk commented on #1
danke!

[2019-03-12 16:17] #1 closed

[2019-03-13 08:52] hrishin commented on #1
Thank you for resolving and closing it :)

[2019-03-13 22:23] bobcatfish commented on #1
woot, the first issue in the repo 🎉

@dlorenc was wrestling with this over the last couple days - glad it's working now and thanks for reporting and dealing with it all ❤️

[2019-03-13 22:25] bobcatfish opened #2 "Repo docs are kinda sparse 😅"
We should add:

* CONTRIBUTING.md
* DEVELOPMENT.md
* Pull request + issue templates

We should probably have more in the README than we currently have:

![image](https://user-images.githubusercontent.com/432502/54318642-29380100-45a4-11e9-89f2-6a9638bc4643.png)

( 🤣 d is for @dlorenc )

[2019-03-25 13:28] cizixs commented on #2
I believe many maintainers are waiting for `development.md` to anticipate.

[2019-04-14 10:35] LinuxSuRen opened #3 "Got error when executing Hugo server"
Output is here:
[code]

Hugo Static Site Generator v0.55.0/extended darwin/amd64 BuildDate: unknown

OS: Mac OS version 10.13.6

[2019-04-15 20:22] bobcatfish commented on #2
Sorry about this @cizixs , I've bumped this up our work queue! I definitely want to focus on getting the bare minimum docs into all of the tektoncd repos asap :)

[2019-04-24 09:52] bryantbiggs commented on #2
any way I can help? I don't want to just start submitting various PRs for documentation but would love to help out if I can

[2019-04-24 20:36] xomiamoore commented on #3
I got the same error message but resolved it when I installed yarn. Looks like that's a dependency. Added an incredibly basic ReadMe update here to let others know - https://github.com/tektoncd/website/pull/4

[2019-04-24 20:37] xomiamoore commented on #2
Still pretty sparse but I added a quick start guide (to help solve #3) here - https://github.com/tektoncd/website/pull/4

[2019-04-25 02:07] LinuxSuRen commented on #3
It' work now. Thanks, @xomiamoore.

[2019-04-25 02:16] LinuxSuRen opened #5 "Too many repos are named with 'website'"
Please consider using a different repo name. Like tektoncd-website or others.

[2019-04-25 07:23] matzew commented on #5
Isn't it the tektoncd/website, given the scope of this repo, inside the org ?

[code]

no ?

[2019-04-25 07:28] LinuxSuRen commented on #5
I get an error When I try to fork this repo. It tells me that `LinuxSuRen/website` already exists. But exists one is another one.

We might consider changing this repo to `tektoncd/tektoncd-website`.

[2019-04-25 07:32] matzew commented on #5
think $GOPATH here

[2019-04-25 07:34] vdemeester commented on #5
@LinuxSuRen Thanks for the issue. I feel the trick to it would be for you to rename you current fork repository to use something like `$org-website` — thus once you forked, you would rename this repository to `tektoncd-website`. I wish the GitHub UI would allow you to do that at fork though, it would solve the problem

[2019-04-25 07:37] LinuxSuRen commented on #5
Thanks for your offer. Just feel a little trick. I've done that. And yes, it'd better if the GitHub UI could provide that way.

[2019-04-25 07:57] #5 closed

[2019-04-26 22:45] bobcatfish commented on #2
Thanks @xomiamoore that's definitely a step in the right direction!

[2019-04-29 23:39] bobcatfish commented on #3
🎉 thanks @xomiamoore and @LinuxSuRen !!

[2019-04-29 23:39] #3 closed

[2019-04-30 07:12] #2 closed

[2019-06-04 16:49] bobcatfish opened #9 "Update tekton.dev content"
# Expected Behavior

Site should:
* Describe projects (not just pipelines)
* Link to docs for each project
* Link to install, mailing list (other community stuff)

# Actual Behavior

Site only mentions pipelines and says it is under construction.

# Additional info

Look at skaffold.dev for inspiration

[2019-06-04 16:55] bobcatfish opened #10 "Create versioned docs"
# Expected Behavior

We should have hosted and versioned Tekton docs, based on the markdown files we have in each repo, maybe starting with just Pipelines.

# Actual Behavior

* Pipelines docs are always tracking head: https://github.com/tektoncd/pipeline/tree/master/docs
* Or you can go to a lot of trouble and view them at the tag https://github.com/tektoncd/pipeline/tree/v0.4.0/docs which probab

[2019-12-03 18:44] dibyom commented on #10
The Readme now has a table of versioned docs. So I think it should be safe to close this out?

[2019-12-03 18:48] #10 closed

[2019-12-11 22:27] danlopez00 opened #13 "Update tekton.dev with proper Linux Foundation privacy, terms, and CDF logo"
# Expected Behavior

1. Place the following language
"Copyright © {YYYY} The Linux Foundation®. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our Trademark Usage page. Linux is a registered trademark of Linus Torvalds. Privacy Policy and Terms of Use"

Privacy URL: https://www.linuxfoundation.or

[2019-12-11 22:31] danlopez00 commented on #13
ref: #11

[2019-12-12 08:46] vdemeester commented on #13
@danlopez00 there is also https://github.com/tektoncd/website/pull/12 in progress :angel: (but we can go ahead and merge #11  while waiting for #12 to be ready :wink: )

[2019-12-13 15:58] sbwsg commented on #9
/label kind/documentation

[2019-12-13 16:00] vdemeester commented on #9
/kind documentation

[2020-01-15 13:21] vdemeester opened #16 "Getting started guides for project"
We need better "Getting started guide" for the tekton projects.

- They should be on the `docs/` folder of each of those project (like `docs/getting-started/…`)
- Repositories to tackle
  - [`tektoncd/pipeline`](https://github.com/tektoncd/pipeline)
  - [`tektoncd/triggers`](https://github.com/tektoncd/triggers) — the [existing one](https://github.com/tektoncd/triggers/tree/master/docs/getting-sta

[2020-01-15 13:23] vdemeester opened #17 "Getting started with tekton"
Based on/Linked with #16, we should have a general getting started on tekton that brings together the key components of Tekton in a digestable, easy getting started guide.

Most likely based on something similar to [`tutorial.md`](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) but using the cli and triggers most likely.

/kind documentation

[2020-01-15 13:28] vdemeester opened #18 "Tekton end user documentation organization"
We need to decide and document where end-user documentation (getting started guide, advanced guide, …) are written into.

Proposal:
- Any documentation that is for a project only (like triggers, pipeline, …) should be in the `docs/` folder of the project
- Any documentation that crosses project's boundaries (like a general getting-started guide, or some advanced topics…) should be in the `docs/` f

[2020-01-15 13:29] vdemeester opened #19 "Topic: Authoring a Task"
- A guide on the task contract from an author perspective
- What env cars get exposed, what paths can be expected, etc.
- Best practices on development loops and debugging

Should be in `tektoncd/pipeline`

/kind documentation

[2020-01-15 13:30] vdemeester opened #20 "Topic: Authoring a Pipeline"
- A guide on the Pipeline contract from an author perspective
- Best practices on development loops and debugging

Should be in `tektoncd/pipeline`

/kind documentation

[2020-01-15 13:31] vdemeester opened #21 "Topic: Authoring a PipelineResource"
- A guide on the Resource contract from an author perspective

As this is not part of the beta API, this is lower priority

Should be in `tektoncd/pipeline`

/kind documentation

[2020-01-15 13:32] vdemeester opened #22 "Topic: Authoring a Condition"
- A guide on the condition contract from an author perspective
- What env cars get exposed, what paths can be expected, etc.
- Best practices on development loops and debugging

Should be in `tektoncd/pipeline`

/kind documentation

[2020-01-15 13:34] vdemeester opened #23 "Topic: Scope of Tektoncd components"
Document and make it clear what the scope of tektoncd is, and each components.

/kind documentation

[2020-01-16 17:15] popcor255 commented on #16
I am interested in helping. Ill take a crack at it.

[2020-01-23 03:39] popcor255 commented on #17
I will do an install.md and Hello.md
Propsal: Install.md and Hello.md

[2020-01-29 15:30] popcor255 commented on #17
I would like to take the story, 'getting started'. @vdemeester

[2020-01-29 17:02] popcor255 commented on #17
/assign popcor255

[2020-01-29 17:56] popcor255 commented on #16
/assign popcor255

[2020-02-18 17:11] anneqm opened #28 "Add Tekton robotic cat (in color) image to tekton.dev"
# Expected Behavior
We want to see the familiar colored robotic cat image similar to the sticker available from cd.foundation or the image currently on the existing tekton.dev site

# Actual Behavior
The only robotic cat is a very tiny white on black version in the masthead.

# Additional Info
See https://cd.foundation/projects/ and https://tekton.dev/ for images requested.

[2020-02-18 17:31] anneqm opened #29 "Remove placeholder icons from try page"
# Expected Behavior
Icons on the try page should link to tutorials that exist or ones that will be available very soon

# Actual Behavior
There are many icons that are placeholders and may not be linked to tutorials. This may cause confusion.  For example, the "Connect to Anthos platform" and "Connect to Jenkins/Jenkins X".

# Additional Info
Some of these icons should perhaps be removed for now,

[2020-02-18 18:01] vdemeester commented on #29
/kind documentation

[2020-02-19 13:45] Preeticp opened #30 "The Rabbit in the Tekton and friends logo is barely visible"
# Expected Behavior
The logo with Tekton friends should be clearly visible.
# Actual Behavior
The rabbit in the logo is barely visible as the purple/blue color with the black background makes it difficult to see.
# Steps to Reproduce the Problem
See here: https://deploy-preview-24--tekton-dev.netlify.com/

Note: Strangely when you take a screenshot the rabbit gets highlighted but that's not what y

[2020-02-25 16:57] bobcatfish commented on #17
How's this going @popcor255 ?

p.s. + @spomorski who is working on some docs also

[2020-02-25 18:58] popcor255 commented on #17
Hi, @bobcatfish. I made a pr a while, but closed it cause the site was down.  I just re-opened it. https://github.com/tektoncd/website/pull/25. The getting started was basically a shorter version of another getting started guide.

[2020-02-26 20:25] ncskier opened #32 "Add Dashboard Tutorial to the Website"
# Expected Behavior
I expect the website's [tutorial page](https://tekton-website-258208.firebaseapp.com/try/) to have a tutorial for using the Dashboard.

Based on a discussion in the Docs & Website meeting, I created a Tekton Dashboard tutorial in Katacoda: https://www.katacoda.com/ncskier/scenarios/tekton-dashboard. The intent of this tutorial is to have the website's `Monitor with Tekton dashb

[2020-02-27 23:16] popcor255 commented on #17
@bobcatfish Sorry for my hiatus. So, I pulled the changes from a few days ago. It looks like there is a file missing that was not included in the https://github.com/tektoncd/website/pull/24/files#r385423682. I want to make a pr, but I got it working removing code seemed pretty important for production. But, I also don't want to push a non-working version of the repo. So, I am not quite sure what t

[2020-02-28 17:43] popcor255 commented on #17
I fixed it. Big thanks. @michaelawyu

[2020-03-04 15:09] anneqm commented on #29
@vdemeester Can we get this one marked priority for Beta?

[2020-03-04 15:40] anneqm commented on #32
@vdemeester May we please also get a beta label on this one?  Thank you!

[2020-03-05 17:27] danlopez00 commented on #13
@vdemeester @bobcatfish what is the status of updating the site with CDF and LF content

[2020-03-05 17:28] vdemeester commented on #13
https://tekton-dev.netlify.com/ is the "soon-to-be" tekton.dev
We need to update the footer to look more spinnaker-like :angel:

[2020-03-05 17:32] danlopez00 commented on #13
This is a great start! Yeah the Spinnaker.io site is the ideal state.

[2020-03-11 15:54] sbwsg opened #34 "Automatically sync docs from Tekton repos to Website"
# Expected Behavior

Changes to the docs of a Tekton repo such as Pipeline should be reflected in the Website as soon as possible.

# Actual Behavior

At the moment we have a script that syncs docs from a fork of Pipeline. The script expects a special table at the top of docs and during the initial review of the website this was deemed as a bit of an ugly addition given that it only served the syn

[2020-03-16 17:42] bobcatfish commented on #32
/label kind/beta-blocking

[2020-03-16 17:43] bobcatfish commented on #32
/label "kind/beta-blocking"

[2020-03-16 17:43] bobcatfish commented on #32
🤔

[2020-03-16 17:43] anneqm commented on #32
/label kind/documentation

[2020-03-16 17:43] bobcatfish commented on #32
/kind documentation

[2020-03-16 17:45] bobcatfish commented on #32
/kind beta-blocking

[2020-03-17 10:00] vdemeester commented on #32
https://prow.tekton.dev/command-help to know what are those commands :angel: :stuck_out_tongue:

[2020-03-17 10:00] vdemeester commented on #32
/this-is-fine

[2020-03-18 14:51] bobcatfish commented on #34
/kind beta-blocking

[2020-03-18 21:18] bobcatfish opened #36 "Audit and update tutorials"
# Expected Behavior

* Tutorials at the "try" link at https://tekton-dev.netlify.com/ should be accurate representations of how to use Tekton Pipelines.
* These tutorials should use `v1beta1` Tekton Pipelines resources

# Actual Behavior

* The tutorials use `v1alpha1` resources at https://github.com/michaelawyu/tekton-examples
* Some of the tutorials aren't quite correct, e.g. the pipelines tutor

[2020-03-18 21:28] bobcatfish opened #37 "Update docs synced to tekton-dev.netlify.dev"
# Expected Behavior

The docs at tekton-dev.netlify.dev for the tektoncd projects should be at the latest released versions:

* Pipelines: 0.11-rc3
* Triggers: 0.3.1 (0.4 end of march)
* CLI 0.8
* Dashboard 0.5.3 (0.6 will support beta, probably end of March?)

# Actual Behavior

The docs are currently synced from:
* https://github.com/michaelawyu/pipeline
* https://github.com/michaelawyu/triggers

[2020-03-18 21:28] bobcatfish commented on #37
/kind beta-blocking

[2020-03-18 21:32] bobcatfish commented on #34
I've removed "beta blocking" from this b/c we can just do #37 and tackle this post beta.

[2020-03-18 22:04] bobcatfish opened #38 "Avoid downloading image from GCS when generating website"
# Expected Behavior

It should be possible to build and preview the website without requiring access to a GCS bucket for the background image.

# Actual Behavior

The makefile commands used to build and run the website run sync.py which requires GCP credentials:

https://github.com/tektoncd/website/blob/43e149ba610188347fde91c8c097d489d90c9d8a/sync/sync.py#L26-L31

It seems like the reason is to g

[2020-03-18 22:54] bobcatfish opened #40 "Update OWNERS list"
# Expected Behavior

https://github.com/tektoncd/website/blob/master/OWNERS should be a list of folks we expect to review PRs in this repo.

# Actual Behavior

I think @vdemeester and I are the only ones on that list for whom that qualifies at the moment.

[2020-03-18 23:09] bobcatfish opened #42 "Make "search this site" work or remove it"
# Expected Behavior

I don't really know how "search this site" should work but i think it should only return results from this site?

# Actual Behavior

When I try searching for "tutorial" I get this:

![image](https://user-images.githubusercontent.com/432502/77015679-df6abf00-694b-11ea-8dfc-8e1da870032b.png)

# Additional Info

Maybe it's hard coded to search tekton.dev, in which case we probabl

[2020-03-19 17:06] #29 closed

[2020-03-19 17:06] #32 closed

[2020-03-23 12:52] anneqm opened #44 "Update Note on Docs page"
# Expected Behavior
update Note for accuracy and correct spelling error...

# Actual Behavior
Current Text:
"Note:
Tekton provides a nunmber of interactive tutorials at try.tekton.dev for developers to get hands-on experience with the project."
Change to something like,
"Note: Tekton provides interative tutorials at tekton-dev.com/try/ for developers to get hands-on experience with the project"
Si

[2020-03-23 13:56] skaegi commented on #37
Is it possible to provide the front matter in `` comments or in a separate toml file? Anyway I'll try to look at that if no-one else is...

[2020-03-23 15:59] ncskier opened #45 "Tekton Pipelines v0.11.0 incompatible with Katacoda k8s clusters"
# Expected Behavior
I expect to be able to use the latest version of Tekton Pipelines in a Katacoda tutorial.

# Actual Behavior
Katacoda Kubernetes clusters use version `v0.14.0` (check out [this Katacoda Kubernetes playground](https://www.katacoda.com/courses/kubernetes/playground)). Unfortunately, the latest Tekton Pipelines release (v0.11.0) requires Kubernetes version `v0.15.0`.

So, installi

[2020-03-23 21:23] skaegi commented on #37
ok so commenting seems to work -- see https://github.com/skaegi/pipeline/blob/website_front_matter/docs/tasks.md#clustertask
and the commit -- https://github.com/skaegi/pipeline/commit/4a232c16a09349a7046e92d4dc8e349104fe6bb5

[2020-03-23 21:39] AlanGreene commented on #45
https://github.com/katacoda/scenario-examples/tree/master/environments

There's an example creating a custom Kubernetes 1.16 environment, but not sure if that's of any use since it requires a Subscription.

NOTE: This is only available with a Katacoda Subscription.

Also with Katacoda being acquired by O'Reilly towards the end of last year I don't know if they're accepting new subscriptions outsid

[2020-03-23 23:59] skaegi commented on #37
hrm... I see that the way links are created and then used to create the sidebar and in a few other places is going to cause problems.

[2020-03-24 06:31] #38 closed

[2020-03-25 11:56] #37 closed

[2020-03-25 13:23] anneqm commented on #45
Note that the Dasbhoard tutorial is now updated to use the previous pipeline version so it is working again.

[2020-03-25 15:57] skaegi commented on #45
@bobcatfish I'd like us to remove the beta blocking tag as for now our tutorials can use 0.10.1 as a workaround. Still leaving this open until Katacoda updates to 1.15 or we find another way.

[2020-03-26 19:41] skaegi commented on #13
/assign

[2020-03-26 19:44] skaegi commented on #45
/remove-kind beta-blocking

[2020-03-30 06:46] #13 closed

[2020-03-30 16:54] skaegi commented on #16
/remove-kind beta-blocking

[2020-03-30 20:06] anneqm opened #54 "Dashboard - improve "which release should I use" reference"
# Expected Behavior
In "Important" section, please point to details for which release to use at this link https://github.com/tektoncd/dashboard#which-version-should-i-use

# Actual Behavior
Currently points to releases page,https://github.com/tektoncd/dashboard/releases. The readme.md page would be a better choice to point directly to this section https://github.com/tektoncd/dashboard#which-versio

[2020-03-31 13:59] anneqm opened #57 "Dashboard docs - add link or pointer to tutorial for reference"
# Expected Behavior
Let the user know there is a tutorial about the dashboard on the Try page

# Actual Behavior
The dashboard documentation page does not mention the tutorial. I think it would be useful to mention that the tutorial is available from the try page, and perhaps add direct link?

# Steps to Reproduce the Problem

1. https://tekton.netlify.com/docs/dashboard
2. read thru the page
3. n

[2020-03-31 16:42] popcor255 commented on #54
/assign

[2020-03-31 16:43] popcor255 commented on #57
/assign

[2020-03-31 18:40] popcor255 commented on #57
[pr](https://github.com/tektoncd/website/pull/63)

[2020-03-31 23:12] AlanGreene opened #64 "Markdown formatting not being preserved"
# Expected Behavior
Markdown formatting in the docs should be preserved when synced to the website.

# Actual Behavior
Some markdown formatting appears to be broken:
- List ordering is not preserved
- Other formatting broken in some cases

# Steps to Reproduce the Problem

For example:

1. View Triggers install docs

Triggers repo:
https://github.com/tektoncd/triggers/blob/master/docs/install.md
!

[2020-03-31 23:21] AlanGreene opened #65 ""Edit this page" leads to 404 for sub pages"
# Expected Behavior
Clicking the 'Edit this page' link should bring me to the corresponding file in GitHub.

# Actual Behavior
Sub-pages under 'Tasks and Pipelines' and 'Triggers' lead to a 404

# Steps to Reproduce the Problem

1. Go to https://tekton.netlify.com/docs/pipelines/pipelineruns/
2. Click 'Edit this page' in the top right corner
3. Land on https://github.com/tektoncd/website//edit/mas

[2020-04-01 10:41] vdemeester opened #66 "ascii demo need to be done with v1beta1"
The demo on the front page (using `asciimedia` ?) needs to be redone with `v1beta1` APIs. Right now it is showing `v1alpha1` :stuck_out_tongue_closed_eyes:

![2020-04-01-124031_1060x373_scrot](https://user-images.githubusercontent.com/6508/78128392-22ca3080-7416-11ea-8ec6-c35680c08fcd.png)

/kind documentation

[2020-04-01 13:07] skaegi opened #67 "Should use "hero" Tekton image for preview instead of moon image"
Currently we show the moon image when tekton.dev is previewed in twitter, slack etc. We should update this so we instead use the standard Tekton hero image.

[2020-04-01 13:09] skaegi commented on #40
would be great to add @sbwsg and @AlanGreene here!

[2020-04-01 15:41] sbwsg opened #73 "Configure Google Analytics for the website"
# Expected Behavior

The website should report information about views and visitors through an analytics platform.

# Actual Behavior

We appear to have Google Analytics already configured for the website but it's unclear whose account the ID is tied to, and therefore where to go to see the current stats.  We also probably need to figure out some way for these analytics to be shared with the wider

[2020-04-01 16:24] popcor255 commented on #45
You can use Kubernetes v1.18.0 if you use a Minikube instance. https://www.katacoda.com/courses/kubernetes/launch-single-node-cluster

[2020-04-01 17:27] AlanGreene commented on #45
Looks like it might be possible to specify a different kubernetes image version
e.g. https://github.com/javajon/katacoda-courses/blob/master/kubernetes-fundamentals/playground-1.17/index.json#L29

[2020-04-01 17:49] ncskier commented on #45
e.g. https://github.com/javajon/katacoda-courses/blob/8f41fac129365afcd3157344e45affad16521011/kubernetes-fundamentals/playground-1.17/index.json#L29

Unfortunately, it looks like Katacoda no longer supports that, or maybe the image id has changed?
The tutorial (https://www.katacoda.com/javajon/courses/kubernetes-fundamentals/playground-1-17) has an error setting up the environment:
<img width="13

[2020-04-01 17:54] popcor255 commented on #45
Things like metrics, ingress, and storage need to be enabled through minikube addons, which is really easy but cause a different dev experience then Kubernetes. There are other resource limiations cause minikube is just one master/worker node. I have tried Tekton on minikube alot and it works perfectly fine.

[2020-04-02 15:12] gswallow opened #81 "Both of the getting started links on the triggers page are dead"
# Expected Behavior

Click on a getting started link (e.g. create a github webhook), see documentation.

# Actual Behavior

Click on a getting started link, get a 404.

# Steps to Reproduce the Problem

1. Start browser
2. Visit documentation
3. Haz sad.

# Additional Info

https://tekton.dev/docs/triggers/

[2020-04-02 16:17] wlynch commented on #64
/kind bug

[2020-04-02 22:07] AlanGreene commented on #65
/kind bug

[2020-04-03 03:31] LinuxSuRen opened #84 "Is there anyone know about the katacoda for tekton?"
I found a tutorial at here https://www.katacoda.com/ratrosyu/scenarios/playground

I want to provide a Chinese version against it if anyone can give me a hint about the place of its source code.

I search them in Github. Found out a git commit history from @chenyumic. If you know something about this, please help me to move forward. Thanks.

[2020-04-03 11:03] LinuxSuRen commented on #3
I got erros:
[code]

[2020-04-07 10:18] donhui commented on #84
https://github.com/michaelawyu/tekton-examples

[2020-04-07 10:29] LinuxSuRen commented on #84
@donhui Thanks for providing the information.

[2020-04-07 10:29] #84 closed

[2020-04-08 12:52] bobcatfish commented on #40
I'm gonna reopen b/c I think we should also remove folks who aren't working on this anymore, most likely at least:

- @dlorenc
- @kimsterv
- @abayer
- @lucperkins

I also want to double check: do we know that @AlanGreene and @sbwsg wanted to be OWNERS?

[2020-04-08 12:56] AlanGreene commented on #40
I'm happy to help out 👍

[2020-04-08 13:05] sbwsg commented on #40
Same, happy to help.

[2020-04-08 15:28] afrittoli opened #88 "Setup a periodic job to update the docs"
# Expected Behavior
We should run the sync daily and pull updates to the docs in automatically.
The main website should track the latest release for each project.
To be defined how to update what the latest release is - manually probably.

# Actual Behavior
It's a manual process right now

# Additional Info
I would like to do this using a Tekton task/pipeline and automate it using Tekton.

[2020-04-08 15:29] afrittoli commented on #88
/assign

[2020-04-08 15:40] afrittoli commented on #88
/area automation

[2020-04-08 16:28] afrittoli commented on #88
/area automation

[2020-04-08 16:34] popcor255 opened #89 "Relative Links are Broken."
# Expected Behavior
I accept that when I click on [Tekton Pipeline Link](https://github.com/tektoncd/dashboard/releases) it should give me some type of documentation.

# Actual Behavior
It sends me to the github documentation

# Steps to Reproduce the Problem

1. Go to https://tekton.dev/docs/pipelines/
2. Click on pipeline metric
3. It should send you to https://tekton.dev/docs/pipelines/metrics

[2020-04-08 18:19] AlanGreene commented on #54
/close

Thanks @popcor255

[2020-04-08 18:19] #54 closed

[2020-04-08 18:25] AlanGreene commented on #89
Only the files listed here are synced from the pipeline docs: https://github.com/tektoncd/website/blob/e13567cedbb15b9b155f7ddd22c2fa53e18c871c/sync/config/pipelines.yaml#L27-L41

https://github.com/tektoncd/pipeline/blob/master/docs/metrics.md and a number of other files aren't included in that list.

[2020-04-08 19:28] popcor255 commented on #89
Yeah, I understand. In order to fix the broken url add the doc in the yaml. I think it is somewhat unreasonable to expect us to keep up with every doc in every repo.

It makes more sense for the script to transform all the links. You should only transform the links that wont result in a 400 response.

Current sync
[code]

Proposing Change
[code]

I could be wrong and maybe always making sure it is

[2020-04-08 19:28] popcor255 commented on #89
/assign

[2020-04-09 10:27] AlanGreene commented on #66
This one's done, thanks @joellord

/close

[2020-04-09 10:28] #66 closed

[2020-04-09 10:32] AlanGreene commented on #44
Typo fixed here: https://github.com/tektoncd/website/pull/72
1 down, 1 to go...

@bobcatfish are we expecting to have a `try.tekton.dev` subdomain or should we just update the link text to reflect the actual URL `tekton.dev/try`?

[2020-04-15 09:53] tragiclifestories commented on #42
Putting this here as I expect it's the same issue.

# Expected Behavior

When I search for "trigger templates" on tekton.dev, I should get a link to the relevant page of the triggers docs.

# Actual Behavior

I get tonnes of results from prow builds and so on.

<img width="1185" alt="Screenshot 2020-04-15 at 10 44 30" src="https://user-images.githubusercontent.com/2285130/79323845-a69c1680-7f06-11

[2020-04-15 14:40] sevikarakose opened #93 "Concepts"
# Expected Behavior
The whole section of "Input and output resources" looks like they need to be changed to "Pipeline Resources".
Pipeline resources
Each task and pipeline may have its own inputs and outputs, known as input and output resources in Tekton. A compilation task, for example, may have a git repository as input and a container image as output: the task clones the source code from the re

[2020-04-15 15:19] sergetron commented on #65
/kind documentation

[2020-04-15 15:21] sergetron commented on #65
/help-wanted

[2020-04-15 15:22] sergetron commented on #64
/kind documentation

[2020-04-15 15:22] sergetron commented on #89
/kind documentation

[2020-04-15 20:22] JCzz opened #94 "Doc bug:"
Links from: https://tekton.dev/docs/triggers/

In the bottom: Getting Started Tasks, links 404

https://tekton.dev/docs/triggers/create-webhook.yaml
https://tekton.dev/docs/triggers/create-ingress.yaml

[2020-04-15 21:01] AlanGreene commented on #94
Thanks for reporting, it looks like this is a duplicate of https://github.com/tektoncd/website/issues/81

In the meantime you can find the referenced samples here:
- [Create an Ingress on the EventListener Service](https://github.com/tektoncd/triggers/blob/master/docs/create-ingress.yaml)
- [Create a GitHub webhook](https://github.com/tektoncd/triggers/blob/master/docs/create-webhook.yaml)

[2020-04-15 21:01] AlanGreene commented on #94
/close

[2020-04-15 21:01] #94 closed

[2020-04-15 21:04] AlanGreene commented on #81
Relevant content:
- [Create an Ingress on the EventListener Service](https://github.com/tektoncd/triggers/blob/master/docs/create-ingress.yaml)
- [Create a GitHub webhook](https://github.com/tektoncd/triggers/blob/master/docs/create-webhook.yaml)

They're not referenced in the website docs [sync config](https://github.com/tektoncd/website/blob/master/sync/config/triggers.yaml).

[2020-04-15 21:06] AlanGreene commented on #81
/kind bug

[2020-04-15 21:13] AlanGreene commented on #81
/assign

[2020-04-16 08:46] AlanGreene commented on #81
/close

[2020-04-16 08:46] #81 closed

[2020-04-16 13:42] AlanGreene commented on #64
/assign

[2020-04-19 18:13] popcor255 commented on #89
Ok, so I have no idea what transofrm links does. I thought it transformed the link inside the content. Not really sure what this function even does anymore. Im just add the doc to the yaml like @AlanGreene said.

[2020-04-22 13:07] popcor255 commented on #89
This is a duplicate of https://github.com/tektoncd/website/issues/65

[2020-04-22 13:07] #89 closed

[2020-04-22 15:17] popcor255 commented on #44
/assign @AlanGreene

[2020-04-22 15:21] popcor255 commented on #65
/assign @popcor255

[2020-04-28 16:46] steren opened #98 "Title blue on black is not readable."
![image](https://user-images.githubusercontent.com/360895/80514243-16fa5d00-8935-11ea-9520-c9cc370c38b9.png)

[2020-04-29 21:24] anneqm opened #101 "Move dashboard tutorial to Tektoncd/website repo + add license file"
# Expected Behavior
The preferred location for tekton tutorials, in particular those displayed/referenced on https://tekton.dev/try/ should be located within the tekton github repo
Desired changes to consider:

1. Move tutorial from  https://github.com/ncskier/katacoda/  to a tutorial folder on the https://github.com/tektoncd/website
2. Use a Tekton Id with the katacoda
3. Add appropriate license

[2020-04-29 21:55] anneqm opened #102 "Updates for Try page"
# Expected Behavior
a richer tutorial / educational experience

# Actual Behavior
We need more content on the https://tekton.dev/try/

# Steps to Consider

1. Review original Try page structure to see if any of it should be restored now
2. Add Video section for more content
For example: a new section something like " Additional references to learn from"
Using theTekton Pipeline CLI: https://www.yo

[2020-04-30 09:46] AlanGreene commented on #102
/kind documentation

[2020-04-30 09:47] AlanGreene commented on #101
/kind question

[2020-04-30 20:47] anneqm opened #103 "Add Triggers Tutorial to Website Try Page"
Here's a fun Triggers 101 Tutorial by @ncskier in article form. It might be a really nice scenario to put into Katacoda.
This tutorial as written is based on OpenShift.  It could be reworked for Katacoda without OpenShift if necessary.

Or, alternatively, it could be just linked to as is.

# Additional Info
Link to published tutorial article: https://developer.ibm.com/tutorials/tekton-triggers-101

[2020-04-30 22:08] anneqm opened #104 "Add Triggers Tutorial to Website Try Page"
Here's a fun Triggers 101 Tutorial by @ncskier in article form. It might be a really nice scenario to put into Katacoda.
This tutorial as written is based on OpenShift.  It could be reworked for Katacoda without OpenShift if necessary.

Or, alternatively, it could be just linked to as is.

# Additional Info
Link to published tutorial article: https://developer.ibm.com/tutorials/tekton-triggers-101

[2020-04-30 22:10] anneqm commented on #104
duplicate. Closing.

[2020-04-30 22:10] #104 closed

[2020-05-06 10:32] #64 closed

[2020-05-06 15:27] popcor255 commented on #17
/assign @sergetron

[2020-05-06 15:27] popcor255 commented on #16
/assign @sergetron

[2020-05-06 16:27] AlanGreene commented on #44
merged and deployed so closing
/close

[2020-05-06 16:27] #44 closed

[2020-05-08 03:07] popcor255 opened #108 "Change sync script to be more flexible."
Discussed this at the docs working group on April 22nd. With our current approach, switching the sync script to pull specific release tags instead of master means we wouldn't be able to publish updated docs between releases.

Current Issue:
- You can not patch version releases for doc updates if needed
- change sync script to be more flexible ???

This issue was taken from:
_Originally posted by @

[2020-05-08 03:10] popcor255 commented on #108
/assign

[2020-05-12 20:52] #108 closed

[2020-05-16 21:24] popcor255 opened #113 "Website CSS broken an certain screen sizes"
# Expected Behavior
For the the text to be centered on my monitor
# Actual Behavior
The CSS flow breaks
# Steps to Reproduce the Problem

1. Go to tekton.dev
2. Open the developers tools and go to mobile/responsive view
3. Change the resolution to 1920x1080

# Additional Info
Two Possible Solutions:
1) Vertically Center the text
2) Make the text 100vw

![image](https://user-images.githubuserconten

[2020-05-17 00:16] jlpettersson opened #115 "Link to Tekton presentations?"
# Expected Behavior

That I can find the good Tekton presentations, that I know exists (e.g. from KubeCon), from the website.

# Actual Behavior

There are mostly static content on the website. It would be great to link to good Tekton presentations, unless there are valid reasons this is not done.

[2020-05-18 15:33] AlanGreene commented on #115
Also related: https://github.com/tektoncd/website/issues/102

[2020-05-18 15:42] vdemeester commented on #115
yeah, we could list some of the kubecon & co talks that are available on youtube on the website :+1:

[2020-05-18 16:27] AlanGreene commented on #65
PRs open against dashboard + each of the repos currently syncing docs to the website. Ideally in future we wouldn't need to make this kind of change in each repo, but the alternative would require changes to the script to detect and modify the frontmatter block inside a HTML comment in a markdown file... This seems like it would be more likely to cause problems so I went with the simpler approach

[2020-05-20 11:09] vdemeester opened #117 "Publish API references"
As part of tekton.dev documentation, we should publish the API references of our APIs

See https://knative.dev/docs/reference/ and https://knative.dev/docs/reference/serving-api/ as an example

/kind documentation

[2020-05-20 11:11] vdemeester opened #118 "Publish CLI references"
As part of tekton.dev documentation, we should publish the CLI references of tkn

See https://knative.dev/docs/reference/client/ and https://github.com/tektoncd/cli/tree/master/docs/cmd (reference docs are already generated, we *just* need to sync them and "present" them)

/kind documentation

[2020-05-20 14:58] popcor255 commented on #73
Netlify has their own set of analytic tools out of the box. Can we use that?

[2020-05-21 19:59] AlanGreene commented on #101
@afrittoli @popcor255 following up on the Katacoda discussion from yesterday's docs working group (sorry I couldn't make it, just watched the recording now).

The request in 2. here is to use a Tekton functional id (Christie mentioned on the pipelines WG a few weeks ago that there are several that may be used) to create a [Katacoda author profile](https://www.katacoda.community/author-profile.html

[2020-05-21 21:21] popcor255 opened #122 "Separate Syncing the docs from building and deploying the website framework."
# Expected Behavior
In-order to have doc changes on the website you only have to run the sync script.

# Actual Behavior
You must sync the docs you have to sync, netlify build, and netlify deploy

# Additional Info

[2020-05-24 23:31] firmsoil opened #125 "PipelineResources page has broken link for "the v1alpha1 to v1beta1 migration guide""
# Expected Behavior
The [the v1alpha1 to v1beta1 migration guide](https://tekton.dev/docs/pipelines/resources/) hyperlink on https://tekton.dev/docs/pipelines/resources/ should return the migration guide content webpage successfully.
# Actual Behavior
[the v1alpha1 to v1beta1 migration guide](https://tekton.dev/docs/pipelines/resources/) hyperlink on https://tekton.dev/docs/pipelines/resources ret

[2020-05-25 00:03] firmsoil opened #126 "Broken "Triggers Getting Started Guide" hyperlink on https://tekton.dev/docs/triggers/install/"
# Expected Behavior
[Triggers Getting Started Guide](https://tekton.dev/docs/triggers/getting-started/README) hyperlink on https://tekton.dev/docs/triggers/install/ should return valid webpage content.

# Actual Behavior
[Triggers Getting Started Guide](https://tekton.dev/docs/triggers/getting-started/README) hyperlink on https://tekton.dev/docs/triggers/install/ returns

Not found
Oops! This page

[2020-05-25 17:56] AlanGreene commented on #122
Netlify deploys are atomic so it's not possible to sync additional content separately: https://docs.netlify.com/site-deploys/overview/

[2020-05-25 18:05] popcor255 commented on #122
Yeah, I saw that. However, the make file sync the doc then deploys to netlify. We could just run the sync script. However, I don't know what would be the use case because it wouldn't have any effect on the website.

[2020-05-25 18:37] AlanGreene commented on #125
Thanks for reporting, looks like the migration guide isn't being synced to the website.

/assign

[2020-05-25 19:13] AlanGreene commented on #65
/close

[2020-05-25 22:05] AlanGreene commented on #126
/assign

[2020-05-27 15:05] popcor255 opened #129 "Update Contributing Guide for website repo"
# Expected Behavior
In general content for a specific project would reside in the docs folder of that project’s repo, and content involving multiple projects or higher level overviews would live in the website repo. However, I do not believe this is documented in the contributors guide. [contributors guide](https://github.com/tektoncd/website/blob/master/CONTRIBUTING.md)

[2020-05-27 15:14] popcor255 opened #130 "Changes for Sync to Multiple Releases"
# Expected Behavior
![image](https://user-images.githubusercontent.com/1755197/83038581-212e7a80-a00b-11ea-8e39-31cdf71a9d4d.png)

# Actual Behavior
![image](https://user-images.githubusercontent.com/1755197/83038504-078d3300-a00b-11ea-919c-9826318d4730.png)

[2020-05-27 15:59] AlanGreene commented on #130
WIP: I'll fill in more details in this comment with gaps in the current support for multiple versions

[2020-05-27 17:30] AlanGreene commented on #129
https://github.com/tektoncd/website/blob/master/content/en/doc-con-main.md#submitting-a-documentation-change

@sergetron mentioned on the call today that he would be adding links to the docs contribution guide in a few other places.

[2020-05-27 17:46] popcor255 commented on #129
/assign @sergetron

[2020-05-28 12:40] AlanGreene commented on #126
This will take a little more work than I initially expected. Keeping the links working both in the GitHub markdown file and on the website is tricky, I thought I had it working but was using the wrong branch when testing on GitHub.

On the website, URLs are transformed so that a markdown file is represented as a folder in the URL path, i.e. `my-file.md` becomes `my-file/` (assuming the name is not

[2020-05-29 18:18] anneqm opened #132 "Added Interactive "Getting Started" tutorial to Try page"
# Expected Behavior
Interactive tutorials all available from the Interactive Tutorial section of the https://tekton.dev/try/ webpage. The one listed on the https://tekton.dev/docs/getting-started/ page perhaps could be repeated on the Try page.

# Actual Behavior
There's a "Note: See also the Getting started with Tekton interactive tutorial."

# Steps to Reproduce the Problem
1. go to https://tekt

[2020-05-31 23:22] firmsoil opened #133 "Broken "Customizing basic execution parameters" hyperlink on https://tekton.dev/docs/pipelines/podtemplates/"
# Expected Behavior
[Customizing basic execution parameters](https://tekton.dev/docs/pipelines/install#customizing-basic-execution-parameters) hyperlink on https://tekton.dev/docs/pipelines/podtemplates/ should return valid webpage content.

# Actual Behavior
[Customizing basic execution parameters](https://tekton.dev/docs/pipelines/install#customizing-basic-execution-parameters) hyperlink on http

[2020-05-31 23:36] firmsoil opened #134 "Broken observability configuration hyperlink on https://tekton.dev/docs/pipelines/metrics/"
# Expected Behavior
[observability configuration](https://tekton.dev/docs/pipelines/config/config-observability.yaml) hyperlink on https://tekton.dev/docs/pipelines/metrics/ should return valid webpage content.

# Actual Behavior
[observability configuration](https://tekton.dev/docs/pipelines/config/config-observability.yaml) hyperlink on https://tekton.dev/docs/pipelines/metrics/ returns

Not fou

[2020-06-01 13:35] AlanGreene commented on #125
/close

[2020-06-01 13:35] #125 closed

[2020-06-02 15:35] wlynch commented on #34
/assign wlynch

I'm going to start working on automating the sync here. I'll focus on just the automation pipeline, this way I don't get in the way of any work being done with sync configs.

[2020-06-02 16:01] wlynch commented on #34
## Tentative Plan:

I'm assuming we will want to use Tekton for managing deployments.

1. Make [sync](https://github.com/tektoncd/website/tree/master/sync) its own dedicated image (mainly for dependency caching).
  To start this will be managed independently of doc deploys. Unsure if we want to keep this as an uncoupled dependency or tie it in as part of the deploy pipeline.
2. Create a Task that

[2020-06-04 03:43] #113 closed

[2020-06-04 03:43] popcor255 commented on #122
thanks @wlynch! :smile_cat:
https://github.com/tektoncd/website/pull/135

[2020-06-04 03:43] #122 closed

[2020-06-04 05:05] popcor255 commented on #134
/king bug

[2020-06-04 05:10] popcor255 commented on #134
Hello @firmsoil!
This was an issue opened before from https://github.com/tektoncd/website/issues/89
I think might be worth opening again. I know what the issue is: The python sync is using replacing the link when it is not suppose to. I can fix it. Unless, someone else beats me to it. :smile_cat:

[2020-06-04 05:11] popcor255 commented on #132
Yeah, I think this can be done know. Since, @jjasghar added material. Creating the katacoda should fairly simple.

[2020-06-04 05:11] popcor255 commented on #134
/kind documentation

[2020-06-04 05:12] popcor255 commented on #134
/king bug

[2020-06-04 05:16] popcor255 commented on #30
This was fixed in https://github.com/tektoncd/website/pull/107

[2020-06-04 05:16] popcor255 commented on #30
/close

[2020-06-04 05:16] #30 closed

[2020-06-04 05:23] popcor255 commented on #28
I know @skaegi did this. I can't find the pr :thinking:
@anneqm is this issue resolved?

[2020-06-04 05:27] popcor255 commented on #98
Hello @steren! :smiley_cat:
That is a good point. Do you have suggestions? Do you think it would be better to change it to the black and white version instead? Here is some art you can choose from [link](https://github.com/cdfoundation/artwork/tree/master/tekton). Maybe you can pick something that you think would look cool! :sunglasses:

[2020-06-04 05:29] popcor255 commented on #45
Hey! @ncskier Is this still an issue?  If so I would love to help! :heart:

[2020-06-04 05:32] popcor255 commented on #42
@bobcatfish Can we implement a toggle for the search? Can we just conditionally render the search bar based on version-switcher.js?

[2020-06-04 15:01] jjasghar commented on #132
:D

Speaking of, shouldn't we move https://github.com/ncskier/katacoda/tree/master/tekton-dashboard into the actual tekton name space on github? (then we could create a bunch of these tutorials there)

[2020-06-05 01:51] anneqm commented on #132
Yes!  we are waiting to get a "functional type" ID set up (per discussion on our working group meeting yesterday) and then that's the plan!

[2020-06-05 19:43] stevemar commented on #36
👋 first time contributor here and hoping to help! Figured this would be a good place to start :)

A had a few questions/comments:

1. Can someone confirm that the instructions that need updating exist here: https://github.com/ncskier/katacoda/tree/master/tekton-dashboard (they're then exposed at https://tekton.dev/try/)
1. Is there any desire to move those instructions to this repo so the folks he

[2020-06-08 14:40] wlynch opened #140 "Proposal: Project Decoupling"
Hi everyone! Looking at the docs automation work, I think we should make some changes to the docs structure - primarily splitting projects to be decouple to release and manage their components individually.

I've written a short proposal here -https://docs.google.com/document/d/1OtXWyYDiUV_5Sy8VfUqDIopBYQI3gPeTh6FyMZV1zvI/edit#

Please take a look and let me know what you think!

[2020-06-08 14:59] jjasghar commented on #132
My team has some experience with those IDs, if you need some help i can set up a call with @mpetason and me to help walk you through it :)

[2020-06-08 16:45] mpetason commented on #132
I did this recently so it is still fresh, definitely reach out if you need help. The guide can be confusing.

[2020-06-09 21:58] AlanGreene commented on #132
Setting up the katacoda profile and moving the existing tutorial is being tracked in https://github.com/tektoncd/website/issues/101, recently discussed at the docs WG and in progress.

[2020-06-10 23:09] AlanGreene commented on #45
Looks like Katacoda finally updated the supported Kubernetes version: https://www.katacoda.community/environments.html#supported-environments

Environment | Implementation Notes | ImageID
-- | -- | --
Kubernetes Cluster 1.18 | 2 nodes with kubeadm installed, nothing running. Based on Ubuntu.Designed for teaching how to use Kubernetes from scratch | kubernetes-cluster:1.18
Kubernetes Cluster 1.18 (

[2020-06-11 14:37] jjasghar commented on #101
https://github.com/tektoncd/website/pull/143 this should be what's needed to get the first done.

[2020-06-15 16:18] AlanGreene commented on #101
We're live! 🎉 Thanks @jjasghar and @afrittoli

https://katacoda.com/tektoncd

/close

[2020-06-15 16:18] #101 closed

[2020-06-17 19:28] jjasghar opened #147 "Migrate/test/update the original tutorials to the new central repository"
This is to track the process of migrating from the old repository to the new centralized one here.

Original repository: https://github.com/michaelawyu/tekton-examples

[2020-06-17 19:28] jjasghar commented on #147
/assign @jjasghar

[2020-06-17 19:31] jjasghar opened #148 "Create a plumbing/ci build for the tutorial code"
We should continually run our tutorials against `latest` as much as possible. We want to make sure that our first steps with work every time.

One idea we can do is something like https://github.com/jjasghar/hello-goodbye-tekton-example

[2020-06-17 19:52] jjasghar commented on #147
https://github.com/tektoncd/website/pull/149

[2020-06-18 19:12] anneqm commented on #132
Now that  #101 is done, can we add the "getting started interactive tutorial to the try page?
it's still a bit bare.  Thanks all for the work to move and set up katacoda!

[2020-06-18 19:15] jjasghar commented on #132
@anneqm the PR with this is right here: https://github.com/tektoncd/website/pull/145 🤘

[2020-07-22 15:10] popcor255 opened #155 "Write tests for sync for website"
# Expected Behavior
Sync the tests with no bugs.

# Actual Behavior
There seems to be bugs keep popping up. So, there is a design doc that includes decoupling. It would be a good opportunity to include tests as well.
https://docs.google.com/document/d/1OtXWyYDiUV_5Sy8VfUqDIopBYQI3gPeTh6FyMZV1zvI/edit#

[2020-07-24 13:40] gitupxm163 opened #156 "the website - tekton.dev, the demo on this website,the demo path maybe wrong --- the location is: Interactive Tutorial - step 2 of 6"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1.please fix the path: tekton-example ---> tekton-examples
2.
3.

# Additional Info

[2020-07-24 13:43] gitupxm163 opened #157 "tekton.dev -demo,some command may be wrong --- the location is: Interactive Tutorial - step 2 of 6"
# Expected Behavior

when i run : mkdir /mnt/data && kubectl apply -f https://k8s.io/examples/pods/storage/pv-volume.yaml ......
the command Should execute correctly

Actual Behavior

mkdir: cannot create directory ‘/mnt/data’: File exists
the result like this ,so the next command won`t be execute

# Steps to Reproduce the Problem

1.maybe we should use : mkdir -p /mnt/data && command.... to avoid

[2020-07-24 23:53] flaviodsr opened #158 "Bronken example link on docs/pipelines/resources/#pull-request-resource"
# Expected Behavior
The [example](https://tekton.dev/docs/pipelines/cmd/pullrequest-init/example) link on https://tekton.dev/docs/pipelines/resources/#pull-request-resource should return a valid webpage.

# Actual Behavior
The [example](https://tekton.dev/docs/pipelines/cmd/pullrequest-init/example) link on https://tekton.dev/docs/pipelines/resources/#pull-request-resource returns:

[code]
# Steps

[2020-07-28 18:37] jjasghar commented on #157
i believe when https://github.com/tektoncd/website/pull/145 is merged the tutorial link should go to the new correct one.

[2020-07-28 18:38] jjasghar commented on #156
i believe when https://github.com/tektoncd/website/pull/145 is merged it would point to the correct version of the tutorials.

[2020-07-28 19:13] jjasghar commented on #158
It seems that the file is completely missing. https://github.com/tektoncd/website/tree/master/content/en/docs/Pipelines I'm not sure where it went, nor how to remove it, being that the `_index.md` doesn't have it either.

@AlanGreene @sergetron any thoughts here?

[2020-07-28 19:21] AlanGreene commented on #158
The pipelines docs are synced from tektoncd/pipeline, so the source is actually at https://github.com/tektoncd/pipeline/blob/master/docs/resources.md

Relative links in the docs are a known problem. In this particular case the link should probably be the fully qualified URL of the content on GitHub since there are many files involved and it's easier to review on GitHub rather than individually dow

[2020-07-29 11:32] afrittoli opened #159 "Broken links to interceptor types"
# Expected Behavior
The links in the list of interceptors in https://tekton.dev/docs/triggers/eventlisteners/#interceptors point to the corresponding sections.

# Actual Behavior
None of the works, so the browsers just renders the same content from https://tekton.dev/docs/triggers/eventlisteners/#interceptors.

[2020-07-30 10:19] lrokman opened #160 "Tekton Workspaces"
# Expected Behavior
working links
# Actual Behavior
broken links

# Steps to Reproduce the Problem

1.check website

# Additional Info

links are broken or non-existent:

See the following in-depth examples of configuring Workspaces:

Workspaces in a TaskRun
Workspaces in a PipelineRun
Workspaces from a volumeClaimTemplate in a PipelineRun

[2020-07-30 19:25] AlanGreene commented on #45
/assign

[2020-07-30 21:37] AlanGreene commented on #45
Change ready locally, just need to rebase it after https://github.com/tektoncd/website/pull/161 is merged.

Updated all scenarios to use Kubernetes 1.18 and made a few small changes to the Dashboard scenario improved for stability.

[2020-07-31 11:18] larrycai opened #162 "link is broken in Workspaces"
# Expected Behavior

When I click `Workspace in a TaksRun` in "For a more in-depth example, see [Workspaces in a TaskRun]()" in https://tekton.dev/docs/pipelines/workspaces/, it shall give me the correct link

# Actual Behavior

It is linked to non-exist link https://tekton.dev/docs/pipelines/examples/v1beta1/taskruns/workspace.yaml

# Steps to Reproduce the Problem

1.  Open browser to https://te

[2020-08-13 03:23] #9 closed

[2020-08-13 05:24] #18 closed

[2020-08-13 05:24] #19 closed

[2020-08-13 05:24] #21 closed

[2020-08-13 05:24] #20 closed

[2020-08-13 09:43] AlanGreene commented on #23
/remove-lifecycle stale
/lifecycle frozen
/reopen

[2020-08-13 21:33] #67 closed

[2020-08-13 22:34] #40 closed

[2020-08-13 22:56] jhonmike opened #165 "Translate to Portuguese"
I would like to know if I can initially contribute to the project by translating the documentation into Portuguese?

This will help in my studies and I can also contribute to the project in a subtle way

[2020-08-13 23:34] #88 closed

[2020-08-14 00:34] #93 closed

[2020-08-14 03:37] #103 closed

[2020-08-14 09:26] AlanGreene commented on #102
/reopen

[2020-08-14 09:39] AlanGreene commented on #57
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2020-08-14 09:41] AlanGreene commented on #115
/remove-lifecycle rotten
/reopen

[2020-08-14 09:42] AlanGreene commented on #17
/remove-lifecycle stale
/reopen

[2020-08-14 09:42] AlanGreene commented on #16
/remove-lifecycle stale
/reopen

[2020-08-14 10:41] #73 closed

[2020-08-14 12:11] vdemeester commented on #117
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-14 12:11] vdemeester commented on #118
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-14 13:42] #129 closed

[2020-08-14 14:57] AlanGreene commented on #126
/remove-lifecycle rotten
/reopen

[2020-08-14 14:58] AlanGreene commented on #130
/remove-lifecycle rotten
/reopen

[2020-08-14 16:22] AlanGreene commented on #34
/remove-lifecycle rotten
/reopen

[2020-08-14 16:45] #28 closed

[2020-08-14 16:45] #98 closed

[2020-08-14 16:45] #42 closed

[2020-08-14 16:49] AlanGreene commented on #133
/remove-lifecycle rotten
/reopen

[2020-08-14 16:49] AlanGreene commented on #134
/remove-lifecycle rotten
/reopen

[2020-08-14 17:55] AlanGreene commented on #140
/remove-lifecycle rotten
/reopen

[2020-08-14 18:45] #36 closed

[2020-08-14 21:46] #148 closed

[2020-08-14 21:46] #147 closed

[2020-08-14 22:46] #132 closed

[2020-08-19 16:50] #45 closed

[2020-09-03 18:50] popcor255 commented on #162
dup of https://github.com/tektoncd/website/issues/160
/close

[2020-09-03 18:50] #162 closed

[2020-09-04 01:27] popcor255 opened #170 "Sync Dockerfile does not build properly"
# Expected Behavior
Expected no errors from running dockerfile.

# Actual Behavior
[code]

# Steps to Reproduce the Problem

[code]

/kind bug

[2020-09-04 01:27] popcor255 commented on #170
/cc @wlynch

[2020-09-04 01:27] popcor255 commented on #160
/king bug

[2020-09-04 01:29] popcor255 commented on #159
/kind bug

[2020-09-11 19:44] popcor255 commented on #170
Oh derp. A config file needs to be mounted in order for it to work.

[2020-09-11 19:44] #170 closed

[2020-09-11 20:08] coryrc opened #172 "Confusing doc about Authentication"
https://tekton.dev/docs/pipelines/auth/

This document is linked from here: https://tekton.dev/docs/pipelines/pipelineruns/#specifying-custom-serviceaccount-credentials

The Overview section immediately dives into git and docker. To me, it would be nice if it was clear the document is really about "Connecting Secrets and ServiceAccounts to TaskRun/PipelineRun", then a section on "this is how you c

[2020-09-13 10:27] #57 closed

[2020-09-18 03:21] coryrc opened #174 "Variable Substitutions"
Docs should say that when single quotes are used, even in the middle of a `script: |` block, that the substitution does not occur.

I would make a PR but I can't find the file and the "Edit this page" link doesn't work

[2020-09-18 03:21] coryrc commented on #174
Oh wait, hmm, that's not my problem. Sorry.

[2020-09-22 06:56] c6h3un opened #176 "Authenticateion document secret data field use data instead of stringData."
secret spec data field name is not stringData is data instead. This will cause the username, password, and ssh-privatekey will not be base64 decoded in the pod. which caused git resource error in the first step.
# Expected Behavior
[code]
[code]
# Actual Behavior
[code]
[code]
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2020-09-30 11:19] NissesSenap opened #177 "Workspaces disable-affinity-assistant link is broken"
# Expected Behavior
The sentence: "The Affinity Assistant can be disabled by setting the **disable-affinity-assistant** feature gate to true.
It points to"
https://tekton.dev/docs/pipelines/install#customizing-basic-execution-parameters
Which is broken.

# Actual Behavior
https://tekton.dev/docs/pipelines/install#customizing-basic-execution-parameters gives: Not found

# Steps to Reproduce the Pro

[2020-09-30 11:20] sergetron commented on #17
The first guide in the "Getting Started" series, ["Overview of Tekton"](https://github.com/tektoncd/website/blob/master/content/en/docs/getting-started-overview.md), has been recently published!

[2020-09-30 11:20] sergetron commented on #16
The first guide in the "Getting Started" series, ["Overview of Tekton"](https://github.com/tektoncd/website/blob/master/content/en/docs/getting-started-overview.md), has been recently published!

[2020-09-30 11:21] NissesSenap commented on #177
This might have something to do with: https://github.com/tektoncd/website/issues/177 but I don't know.

[2020-09-30 12:50] sergetron commented on #172
/assign @sergetron

[2020-09-30 12:58] sergetron commented on #176
/assign @sergetron

[2020-10-06 07:43] lrokman opened #178 "Pipelinerun full example"
# Examples don't provide full example of PipelineRun  (if it exists in v1beta anymore)

# Include full example, not only snippets

# Steps to Reproduce the Problem

# Additional Info

[2020-10-21 14:44] popcor255 commented on #160
fixed #181

/close

[2020-10-21 14:44] #160 closed

[2020-10-21 14:46] popcor255 commented on #126
fixed #181

/close

[2020-10-21 14:46] popcor255 commented on #158
fixed #181

/close

[2020-10-21 14:46] #158 closed

[2020-10-21 14:47] popcor255 commented on #133
fixed #181

/close

[2020-10-21 14:47] #133 closed

[2020-10-21 14:47] popcor255 commented on #134
fixed #181

/close

[2020-10-21 14:47] #134 closed

[2020-10-21 15:26] popcor255 commented on #155
fixed #181
/close

[2020-10-21 15:26] #155 closed

[2020-10-26 14:39] hellerbarde opened #186 "Dead Links in the PipelineRuns Section"
On https://tekton.dev/docs/pipelines/pipelineruns/#specifying-limitrange-values, there is a link called "LimitRange code example" but unfortunately it is dead.

Actually, as far as I can tell, all the links to examples on that page are dead.

[2020-10-27 13:41] AlanGreene commented on #126
Looks like this is still broken, and was broken even before #185 was merged.
Before #185 it landed on a 404 page on the website, now it lands on a 404 page in the Triggers repo on GitHub.

/reopen

[2020-10-27 15:55] AlanGreene commented on #186
The link should be pointing at
https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/no-ci/limitrange.yaml
but instead is pointing at
https://github.com/tektoncd/pipeline/tree/examples/v1beta1/pipelineruns/no-ci/limitrange.yaml

Notice the missing git ref in the URL, in this case `master`.

It's the same for the other broken links to examples on that page.

From the source

[2020-10-27 16:01] AlanGreene commented on #177
This link currently points to https://github.com/tektoncd/pipeline/tree/master/install.md#customizing-basic-execution-parameters but the file is actually located at https://github.com/tektoncd/pipeline/tree/master/docs/install.md#customizing-basic-execution-parameters (note the missing `docs/`)

[2020-10-27 16:03] AlanGreene commented on #174
Variable substitution docs are at https://github.com/tektoncd/pipeline/blob/master/docs/variables.md

A PR to improve them / add clarity around behaviour would be very welcome 😸

[2020-10-27 16:08] AlanGreene commented on #159
Looks like the fragments need to be converted to lowercase to match the ids output by the website sync

- Broken: https://tekton.dev/docs/triggers/eventlisteners/#GitLab-Interceptors
- Working: https://tekton.dev/docs/triggers/eventlisteners/#gitlab-interceptors

[2020-10-28 06:43] hellerbarde commented on #186
On that note, the "edit on github" link is also broken. And even if it worked, I think it points to the wrong repository: https://github.com/tektoncd/website/tree/master/content/en/docs/Pipelines does not contain a `pipelineruns.md` file.

[2020-10-28 12:24] AlanGreene commented on #65
Looks like this is back... https://github.com/tektoncd/website/issues/186#issuecomment-717734692

/reopen

[2020-10-28 12:25] AlanGreene commented on #186
Thanks for pointing out the problem with the edit link too, I've reopened the previous issue we had for that: #65

[2020-10-28 18:17] popcor255 commented on #186
@hellerbarde This pr will fix the broken link. Sorry about that. https://github.com/tektoncd/website/pull/187

[2020-10-28 18:18] popcor255 commented on #65
#187 There is a fix @AlanGreene

[2020-10-28 18:22] afrittoli commented on #186
Heh, my bad, it should be fine once #187 is merged

[2020-10-28 18:44] afrittoli commented on #177
Thanks for reporting the issue. This will be fixed by #187

[2020-10-28 18:48] afrittoli commented on #159
We can `lower()` fragments throughout.

[2020-10-28 18:53] #177 closed

[2020-10-28 18:53] #186 closed

[2020-10-28 19:11] AlanGreene commented on #65
@popcor255 #187 does fix a number of cases of broken links, but as far as I can tell the 'Edit this page' links are a totally different issue. I fixed this originally back in May by adding some config to the frontmatter of the root docs page for each project (see the PRs above) that should be read to determine the project base URL when constructing that link specifically. I'll see if I can figure

[2020-10-28 19:14] afrittoli commented on #159
Actually we cannot do that, fragment can be case sensitive, so we should not arbitrarily lower them.
The link in github is lowercase:
[code]

so, even if GitHub will also accept a camel-case version of it, the docs should be fixed on triggers side to use the lowercase.

[2020-10-28 21:46] #159 closed

[2020-10-29 14:18] AlanGreene commented on #130
PR open https://github.com/tektoncd/website/pull/190
Most of the issues in my last comment above have since been addressed. There are still some styling improvements we could make but it's a much better experience than it was when I wrote the comment.

[2020-10-29 15:05] AlanGreene commented on #126
Fixed by https://github.com/tektoncd/website/pull/187
/close

[2020-10-29 15:05] #126 closed

[2020-10-29 15:05] afrittoli commented on #165
Hi @jhonmike - thank you for this issue and sorry about the really late reply.

It would be great to have documentation in other languages!
There would be some development work to be done to make the documentation in other languages accessible, but I think this is definitely something worth investing on.

Are you still interested in pursuing this?

@sergetron @bobcatfish @vdemeester @popcor255 @Al

[2020-10-29 15:09] afrittoli commented on #118
I wonder if an easy way to add this would be to support folder in the sync config.
Alternatively we could add all md files one by one in the sync config, and that should probably address this issue.

[2020-10-29 15:12] dfreilich opened #191 "Improve Search"
# Expected Behavior
The search bar to display information on the site, and perhaps relevant tasks on Tekton Hub.

# Actual Behavior
The search displayed ads, logs, and some somewhat relevant links, but not the documentation I was looking for.

# Steps to Reproduce the Problem

1. Go to https://tekton.dev/
2. Search for "Pipeline"
3. Look at the results

# Additional Info
I was hoping that search w

[2020-10-29 15:16] AlanGreene commented on #176
`stringData` is a convenience provided by Kubernetes so that the user doesn't need to handle base64 encoding the values themselves. It yields the same result as providing base64 encoded values in `data` by performing the encoding for you and storing the result in `data`.

See for example:
[code]

See the values in `data` are the base64 encoded values of the plain text I provided as input in `strin

[2020-10-29 15:18] jhonmike commented on #165
Certainly! how can i help?

Can I start by creating an issue organizing tasks necessary to start the DOC translation process? can you help me with this?

[2020-11-02 16:46] afrittoli opened #194 "Add Tekton api reference to the website"
# Expected Behavior
The Tekton API, generated via https://github.com/tektoncd/pipeline/pull/3081, is published on the website.
See https://github.com/tektoncd/pipeline/issues/1250 too.

[2020-11-03 14:59] afrittoli opened #195 "Improve the documentation landing page"
The landing page could use a few improvements:

- change the title to "Welcome to Tekton"
- expand more on the initial paragraph
  - inline part of the concepts page, add a diagram or two
  - we could add a list of projects with a one sentence description about each
- the "what's next" does not seem to add much value, I would remove it
- rending of the TOC below seems broken, there is too much spa

[2020-11-03 15:06] afrittoli opened #196 "Move "master" out of the list of releases to its own item "pre-release""
While I think there's value in having the latest un-released docs available through the website, having them under the list of releases might be confusing.
We should have "pre-release" item added to the list, possibly to the bottom - see knative.dev/docs for an example.

[2020-11-03 17:22] jerop opened #197 "Tekton Docs Versioning"
### Feature
The Tekton documentation in [tekton.dev](https://tekton.dev/) does not contain the versions of documentation from different Tekton projects releases. [Versioned docs are required for Pipelines GA](https://docs.google.com/document/d/1M0bO-0ZhJanV0a0cweSoR0RHdVw2Alt7XAEPaqdULc4/edit#) so that users can easily discover and use documentation from different releases. Currently, Tekton proje

[2020-11-03 17:23] vdemeester commented on #197
/cc @afrittoli as he started working on this

[2020-11-04 08:36] afrittoli commented on #194
Duplicate of https://github.com/tektoncd/website/issues/117

[2020-11-04 08:36] #194 closed

[2020-11-04 09:41] afrittoli commented on #118
I've been looking into this and https://github.com/tektoncd/website/issues/117, which both require adding a number of generated files generated from a dir to the website.

Because files are generated, the sync process will have to add the heading info.

These are the options of implementation I could think of:

1. Add support for folders to the sync config: e.g.
[code]
Pros: compact and easy to ma

[2020-11-04 09:42] afrittoli commented on #118
/cc @vdemeester @popcor255 @AlanGreene

[2020-11-04 09:53] vdemeester commented on #118
(2) seems brittle and tied to GitHub (and how GitHub shows things). What is the "problem" with a full git clone ? :sweat_smile:

[2020-11-04 10:09] afrittoli commented on #118
Yeah, option (2) is brittle, and would not like that.

There is not problem with a full git clone, but sync we may be syncing from 5 or more repos (pipeline, triggers, cli, dashboard, community and in future chains, catalog, hub and more), it would be a full clone of all those, which takes times and resources.
It's not ideal but ok in CI jobs, less ideal for local dev - since there is no local cac

[2020-11-04 10:54] afrittoli commented on #118
Oh, I found the github trees API. It's still GitHub specific, but less brittle:
https://docs.github.com/en/free-pro-team@latest/rest/reference/git#get-a-tree

Example:
[code]
{
  "sha": "7b5b2fa3ddd99d52baaa10face967b603c6940ee",
  "url": "https://api.github.com/repos/tektoncd/pipeline/git/trees/7b5b2fa3ddd99d52baaa10face967b603c6940ee",
  "tree": [
    {
      "path": ".errcheck.txt",
      "mode

[2020-11-04 11:10] afrittoli commented on #118
Just noting that submodules / subtree would require us to use multiple branches on the website, which I'd prefer to avoid.

[2020-11-04 11:12] afrittoli commented on #118
I'm leaning towards option (1), with a command line option to allow specifying a local cache of repos, so that the dev workflow may skip the clone step.

[2020-11-06 09:23] florath opened #199 "Getting Started: "tkn task start hello --dry-run" fails with "Error: task name hello does not exist in namespace default""
# Expected Behavior
`tkn task start hello --dry-run`

should behave as described and output the taskrun resource description

# Actual Behavior

`tkn task start hello --dry-run`

logs

`Error: task name hello does not exist in namespace default`

# Steps to Reproduce the Problem

1. Use the provided ppa for Ubuntu to install the tkn binary
2. Install an up to date version of the tekton pipeline

#

[2020-11-06 12:33] AlanGreene commented on #199
tkn 0.13.1 does appear to be available in the ppa

Tested on Ubuntu 20.04 (Focal Fossa)

[code]

However following the instructions on https://tekton.dev/docs/getting-started/ I get 0.8.0
Updating the instructions to use `focal` instead of `eoan` yields 0.13.1. Is this expected? Do we only ship newer tkn releases for `focal` or newer?  @chmouel @piyush-garg

[2020-11-06 12:42] chmouel commented on #199
We only use what PPA gives us, I am not really sure how to make PPA generating for multiple distribution, so I guess the packages will only targets the latest LTS (which is focal)

I'll see if we can do some documentation update,

[2020-11-06 12:46] chmouel commented on #199
Maybe we should use https://build.opensuse.org/ in the future, which seems more maintained and featurefull than launchpad.

[2020-11-06 15:27] afrittoli commented on #117
The knative API docs are generated using this: https://github.com/ahmetb/gen-crd-api-reference-docs
For pipeline we have now a swagger.json instead. Which one do we want to go for?

[2020-11-06 19:23] moficodes opened #202 "Manual for CLI usage link takes back to the same page in github"
# Expected Behavior
https://tekton.dev/docs/cli has a link under _What's Next_ That is supposed to give a manual for using the cli. It should take to a location with a manual or more instruction on the cli.
# Actual Behavior
It just opens the same page source code in github. Has no extra information.
# Steps to Reproduce the Problem

1. Browse to https://tekton.dev/docs/cli
2. Scroll to the bottom

[2020-11-09 15:16] afrittoli commented on #202
Good catch, thank you!
The issue is not on the website side though, the link is the same that is provided in the CLI repo at the bottom of the page: https://github.com/tektoncd/cli/tree/master/docs
We should fix the issue there.

[2020-11-09 15:25] afrittoli commented on #197
Thanks for reporting this!
Some of it is already solved, I'll put more comments inline.

It does now! 🎉

I think it's probably fine to keep the table in the main README, we could automate the creation of the table if needed.

Do you see anything missing on this side?

Right now they're combined in one dropdown, but it is possible to select the version of each project independently. Navigation incl

[2020-11-09 15:31] afrittoli opened #205 "Section links next to titles"
### Feature request

Add links next to titles in all markdown pages.

### Use case

As a web site user I would like to be able to select and share a link to a specific section within a document.

Anchors are already defined in the page, and they're used for the TOCs at the top of many pages. However to share a link to a section today one have to look for the TOC or look at the source of the page.

[2020-11-09 19:15] moficodes commented on #202
Should we open an Issue under cli then?

[2020-11-09 19:16] moficodes commented on #205
I can look into that, if you havent already fixed it.

[2020-11-11 17:51] afrittoli commented on #202
Yes please. Could you then link the two issues and close this one?

[2020-11-11 17:54] afrittoli commented on #199
So, is the issue only related to the version of `tkn`? Does it work fine with the latest `tkn`?

[2020-11-11 22:08] chmouel commented on #199
@afrittoli yes should be fixed using the version from focal,

[2020-11-12 10:14] afrittoli opened #211 "Broken text in the event listener docs"
# Expected Behavior
The event listener docs are rendered correctly

# Actual Behavior
The text at the following link is broken:
https://tekton.dev/vault/triggers-master/eventlisteners/#how-does-the-eventlistener-work

The original document looks ok, so it's probably something related to the decoding of the text during sync:
https://github.com/tektoncd/website/blob/4677778c4503fb51d2ee5927e5ce40023

[2020-11-12 10:44] afrittoli commented on #115
/remove-lifecycle stale

[2020-11-12 17:29] popcor255 commented on #34
/remove-lifecycle rotten
/reopen

[2020-11-12 18:19] bobcatfish commented on #34
I think @afrittoli has been looking into this?

[2020-11-12 18:48] popcor255 commented on #34
I think this might be a different issue. For a doc to be rendered to website it must include the correct metadata. It might make sense to include this metadata on the config file itself. So, there is central place to modify it.

[2020-11-14 09:47] afrittoli opened #215 "Missing permanent links to the last release"
### Feature request

As a website user, I'd like to have permanent links to any documentation on the website.

### Use case

Link sharing, blog posts, bookmarks and so.

### More details

Links to vault releases are safe, but those to the latest release do not include the version on the URL, and it is not possible to have a version of the URL with the version inside for the latest release.

- Vers

[2020-11-14 09:47] afrittoli commented on #215
/cc @pritidesai

[2020-11-18 14:41] boweeb opened #216 "TaskRuns -- markdown syntax fix needs backported or published"
# Expected Behavior

Here: https://tekton.dev/docs/pipelines/taskruns/#specifying-the-target-task

Code block ends with the example `spec`.
The next section "Tekton Bundles" is rendered as an actual section, not part of the code block.

# Actual Behavior

The content between the example `spec` code block, through the first code block under "Tekton Bundles" is rendered as one large code block.

# S

[2020-11-18 15:01] afrittoli commented on #216
Thanks for reporting this!

We now do nightly deploys.  Each deploy runs the sync script that pulls in the docs far various released versions as well as `master`.

The patch tektoncd/pipeline#3507 was merged 8 days ago, so it should be both on `v0.18.0` docs as well as on master docs, but I don't see it there, so something is going wrong.

[2020-11-18 18:03] afrittoli commented on #216
It looks like this is not in v0.18.0 or v0.18.1 yet.

[2020-11-20 12:42] afrittoli opened #217 "Add a community page"
### Feature request

Add a community page using the docsy community page feature.
Sync  (where possible)  or  link content from the tektoncd/community repo.

[2020-11-20 12:46] afrittoli opened #218 "Support announcements about releases and other Tekton news"
### Feature request

Support announcements about releases and other Tekton news.
We could use the blog feature of the docsy template.

### Use case

Have a blog post for each release with highlight of main features.
Have a blog post about interesting news, like we launched the HUB, we started a new project 'chains' and similar.

[2020-11-25 20:35] bobcatfish commented on #191
@afrittoli i have added you and the rest of the governing board to have access to https://programmablesearchengine.google.com/cse/setup/basic?cx=013756393218025596041:6eajntqsa6c (which i think is a link to the tekton.dev custom search?)

at a glance i cant tell what's wrong:

![image](https://user-images.githubusercontent.com/432502/100278949-a4d21100-2f33-11eb-95af-296d5d317afe.png)

![image](ht

[2020-11-25 22:24] afrittoli commented on #191
I changed the URL from anything with `tekton.dev` to URL pattern `tekton.dev/*` which should hopefully remove all unwanted subdomains.

I also found a way to submit a sitemap, that hugo already produces at https://tekton.dev/sitemap.xml. URLs in the sitemap are relative and that is not correct, in fact when I try to submit a sitemap google search tells me that it finds 170+ errors:

![image](https

[2020-11-25 22:26] afrittoli commented on #191
It looks like me have to change the baseUrl to a valid one?
https://discourse.gohugo.io/t/google-search-console-reports-sitemap-xml-as-invalid/10474/12

[2020-11-26 14:13] afrittoli commented on #191
About ads, I found the [following answer](https://support.google.com/programmable-search/thread/45809503?hl=en):

https://support.google.com/customsearch/answer/4542102

https://developers.google.com/custom-search/v1/overview

https://support.google.com/customsearch/answer/4542011

[2020-11-26 14:31] afrittoli commented on #215
Knative uses redirects for this:

https://github.com/knative/website/blob/b6b84a169761a7b42cbb0b825e4304fbc2172ca9/netlify.toml#L21-L26

[2020-11-26 15:18] afrittoli commented on #191
Related issue on knative side: https://github.com/knative/website/issues/23

[2020-11-26 15:18] afrittoli commented on #191
The sitemap is now generated correctly, if the search console and cse match the content should be coming from that.

[2020-11-26 16:48] afrittoli commented on #191
However no indexing still, because we set `<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">` in our homepage.

[2020-11-26 17:33] afrittoli commented on #191
OK, to summarise:

- In the [CSE](https://programmablesearchengine.google.com/cse/setup/basic?cx=013756393218025596041:6eajntqsa6c) (custom search engine), I changed the site to be all pages that contain `https://tekton.dev/`
- In the [CSE](https://programmablesearchengine.google.com/cse/setup/basic?cx=013756393218025596041:6eajntqsa6c), I added an exclusion URL pattern `*.tekton.dev/*` to exclude

[2020-12-03 10:41] afrittoli commented on #191
Crawling by Google started, it is not yet complete, but results are starting to show.
The filter on the CSE was too eager, it looks like `*.tekton.dev` matches `tekton.dev` too, which is surprising, since the latter does not start with a ".". In any case, I changed the filtering to match each of the subdomains that we do not want.

![image](https://user-images.githubusercontent.com/2205608/1009988

[2020-12-14 21:54] bobcatfish commented on #34
Definitely something we still want, afaik we still need to sync the docs manually (is that right @afrittoli @popcor255 ?)

/lifecycle frozen

[2020-12-14 22:02] afrittoli commented on #34
The sync happens automatically now, at deploy time. We deploy nightly.
However the latest fixes will show up on the master version of docs only.
We don't have a way to fix versioned documentation other than making a new minor release.

Also when a new release is created by a project, it has to be added to the config. There is a script for that, but someone has to run the script and make a PR. We c

[2021-01-23 18:12] zapman449 opened #229 "Pipelines"
# Expected Behavior
Text says:
[code]

# Actual Behavior
`ServiceAccount` link leads to a 404 page.

# Steps to Reproduce the Problem

1. go to page https://tekton.dev/docs/pipelines/pipelines/
2. click link `Service Account` which points to https://tekton.dev/docs/pipelines/pipelines/pipelineruns.md#service-accounts (link is around 1/4 to 1/3rd the way down the page.)
3. receive 404

# Additional

[2021-01-27 17:54] afrittoli commented on #229
Thank you for your report!

[2021-01-28 14:41] sergetron commented on #172
/remove-lifecycle rotten

[2021-01-28 14:42] sergetron commented on #16
/remove-lifecycle rotten

[2021-01-28 14:42] sergetron commented on #17
/remove-lifecycle rotten

[2021-01-30 22:25] mayank-sfdc opened #231 "error: unable to recognize "trigger-template.yaml": no matches for kind "TriggerTemplate" in version "triggers.tekton.dev/v1beta1""
# Expected Behavior
kubectl apply -f trigger-template.yaml # should pass and resource must be created
# Actual Behavior
Failed with the **error: unable to recognize "trigger-template.yaml": no matches for kind "TriggerTemplate" in version "triggers.tekton.dev/v1beta1"**
# Steps to Reproduce the Problem

1. kubectl apply -f  trigger-template.yaml
2.
3.

# Additional Info

[2021-01-30 22:45] AlanGreene commented on #231
Thanks for reporting this issue @mayank-sfdc. Can you provide more information about where in the documentation you found this?

The `apiVersion` for Triggers resources should be `triggers.tekton.dev/v1alpha1`

[2021-02-03 09:22] kobaji commented on #229
Hi @afrittoli I am looking at this issue.

I think the link of  "Service Account" in the following file should be corrected.

https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md

I strongly hope to fix this. Once I've understood which files I should fix aside from the above, I'll try this.
(Or if you would tell me whether any other files should be corrected, I could start correcting

[2021-02-03 10:02] afrittoli commented on #229
Hi @kobaji, thank you for looking into this!

If you clone the website repo on your laptop and run the  [sync](https://github.com/tektoncd/website/blob/master/sync/README.md) script locally, you will be able to run the website locally and try things out. See also our [development](https://github.com/tektoncd/website/blob/master/DEVELOPMENT.md#running-locally) guide.

The sync script clones all the

[2021-02-03 13:19] kobaji commented on #229
Thank you very much for your kindness @afrittoli
I'll be considering with my teammate and  within a few days able to declare that some of my teammate tries this issue

[2021-02-03 13:32] afrittoli commented on #229
Great, thank you!

I found another case in the trigger docs. On the page "https://tekton.dev/docs/triggers/triggers/" the [interceptors](https://tekton.dev/docs/triggers/triggers/eventlisteners.md#interceptors) link is broken.

I checked the source docs again on both pipeline and triggers, and in fact the original link is relative, not absolute as I thought.
Apart from the issue with the fragment,

[2021-02-03 15:41] afrittoli commented on #229
I dig a bit more into this because it looked like it was more complex than it looked like on the surface.
Some links were not being transformed because the line was in a list and thus started with spaces. Since we parse the markdown line by line, without the context, the markdown parser considered the line as a code block, and ignored links.

Something like this seems to be working, but it would n

[2021-02-04 10:08] takoh-yuuichiro opened #243 "Translation of Tekton home page"
I would like to contribute to the project by translating the documents on the [Tekton home page](https://tekton.dev/) into Japanese.
For this purpose, I would like to confirm something:
- Is translation into Japanese meaningful?
- Are there any significant changes in the Tekton home page specifications?
Tekton's specifications have changed so often in the past that I'm worried that the translation

[2021-02-04 12:26] jhonmike commented on #243
Hello @takoh-yuuichiro, I tried to translate the home page into brazilian portuguese and fall into some problems in the structure of the site, and due to lack of time I couldn't complete the process, but there are many pages that will have their content duplicated, so I can leave that content depreciated in our native languages ​​if English gets updated

my PR https://github.com/tektoncd/website/p

[2021-02-05 04:59] kobaji commented on #229
Thanks @afrittoli for the detail explanation.

I undestood the following parts are needed to be corrected.

https://github.com/tektoncd/website/blob/828371abc6577020f0faf6207ad10a47a2cfd6ec/sync/sync.py#L198
https://github.com/tektoncd/website/blob/a5ed52e79f2c4124b1df6a1a339005d90bff20ba/sync/test_sync.py#L260

I will let all you know if I or my teammate had a time to try this issue, unless someo

[2021-02-05 17:50] AlanGreene commented on #216
This is fixed in the docs for v0.19.0 and later

/close

[2021-02-05 17:50] #216 closed

[2021-02-10 04:20] takoh-yuuichiro commented on #243
Hello @afrittoli , is translation into Japanese still meaningful?
I'm worried that the translation would be a waste of time due to changes to the website's specification.

Thanks

[2021-02-11 13:03] AlanGreene commented on #231
I can't find any references to `triggers.tekton.dev/v1beta1` in the docs or examples so closing this.

@mayank-sfdc if you can point us to where you found that invalid value we can reopen the issue.

/close

[2021-02-11 13:03] #231 closed

[2021-02-12 05:18] kobaji commented on #243
Thanks @jhonmike for your kind information.
This is @kobaji , working with @takoh-yuuichiro .
#165 , the issue you opened is also interesting for me. I would be very grateful if your and takoh-san's contributions are meaningful even now.

[2021-02-16 11:08] afrittoli commented on #229
Thank you @kobaji - do you have any update on this?  I'd be happy for you or someone on your team to fix this.
I'd like to fix the broken links in our website as soon as possible though, so if you're not able to work on this this week, I would propose a patch myself 🙏

[2021-02-16 20:28] stevemar opened #246 "Architecture image is broken in the "getting started" katacoda tutorial"
# Expected Behavior

The image should load

# Actual Behavior

The image does not load as it references a github _page_ rather than the image itself. See screenshots

<img width="1555" alt="Screen Shot 2021-02-16 at 3 26 02 PM" src="https://user-images.githubusercontent.com/4118756/108117831-77e15600-706b-11eb-925e-8ceffb40cb58.png">
<img width="594" alt="Screen Shot 2021-02-16 at 3 26 08 PM" src=

[2021-02-16 20:29] stevemar commented on #246
I'm happy to submit a PR if folks are good with the suggested changes.

[2021-02-16 20:44] afrittoli commented on #246
Nice catch, thank you!
A PR would be welcome, thank you!

[2021-02-16 20:56] stevemar commented on #246
@afrittoli thanks, i'm finding a few other bugs / room for improvements in the tutorials, how would you like that feedback gathered?

[2021-02-17 00:30] kobaji commented on #229
Thank you @afrittoli , could you please fix by yourself? Unfortunately we do not enough time on this week.
I apologize for not trying.

[2021-02-19 10:53] #246 closed

[2021-02-19 11:29] afrittoli commented on #211
/remove-lifecycle stale

[2021-02-19 13:52] afrittoli commented on #246
A GitHub issue would be fine, but I'm happy with whatever works best for you.

Thank you!

[2021-02-19 14:55] stevemar commented on #246
Thanks @afrittoli i'll run through one of the katacoda tutorials and gather some feedback for you. Here's the fixed link:

<img width="606" alt="Screen Shot 2021-02-19 at 9 54 44 AM" src="https://user-images.githubusercontent.com/4118756/108520347-91b3b080-7298-11eb-956a-2d4effe504b3.png">

[2021-02-19 18:38] afrittoli commented on #229
This is the fix on pipeline side: https://github.com/tektoncd/pipeline/pull/3773

[2021-02-19 19:14] #229 closed

[2021-02-23 20:26] wlynch opened #250 "sync.py does not include subdirectories."
# Expected Behavior

I can configure sync.py to include files from subdirectories.

# Actual Behavior

The following attempts at configuration fail:

[code]
[no files included](https://app.netlify.com/sites/tekton/deploys/6035624d588f1200078285dc)

---

[code]
[build fails](https://app.netlify.com/sites/tekton/deploys/603560d771b9000007b338e5)

---

[code]
[no subdirectories included](https://app.

[2021-02-23 21:28] wlynch commented on #250
pebkac :)

the correct format should be:

[code]

I'll make a PR to call this out explicitly in the docs.

[2021-02-24 18:16] sergetron opened #252 "Automatically add an editorial reviewer team to every PR that modifies docs"
### Feature request

To maintain a high quality level for Tekton documentation, documentation changes should go through editorial review in addition to technical review. @Sergetron and other members of the Tekton Docs Working Group are willing to volunteer as editorial reviewers. The best way to make this happen is to automatically add the editorial reviewers to every PR that modifies documentatio

[2021-02-27 16:46] daenney opened #253 "DNS resolution for tekton.dev is broken in exotic ways"
# Expected Behavior

tekton.dev can't be properly resolved in certain cases. This appears to be caused by the fact that tekton.dev has a CNAME at the apex pointing at tekton.netlify.com, but a CNAME at the apex is not allowed.

# Actual Behavior

tekton.dev should resolve properly

# Additional Info

First, find who is responsible for `dev.` root
[code]

Using one of those, lets ask it about who t

[2021-03-03 11:32] afrittoli commented on #191
/remove-lifecycle stale

[2021-03-03 11:32] afrittoli commented on #191
/lifecycle frozen

[2021-03-05 07:28] cclemonzy commented on #195
Hi afrittoli , and all ,
I think I can do this doc improvement.

- change title from "Tekton Documentation" to "Welcome to Tekton"
- remove following parts only, but keep `Note`  section
`What’s next`
`To get started, read the contents below.`

and i want to  confirm about
- too much spaces between  Concepts and Dashboard
now document site display `Tasks and Pipelines`, `Triggers and EventListener

[2021-03-05 07:29] cclemonzy commented on #195
and i will try to assign this issue to myself

/assign @cclemonzy

[2021-03-09 16:57] afrittoli commented on #195
Thanks @cclemonzy - looking forward to your contributions!

[2021-03-10 21:32] afrittoli commented on #252
This will be implemented as follows:
- create a tekton task or pipeline that will run on PR open/reopen/sync/label, with the following logic
- check if the label `kind/documentation` is set or if any file in the docs folder is modified or any `*.md` file is modified
- in case of match cc the @tektoncd/docs-reviewers team on the PR

[2021-03-12 06:02] cclemonzy commented on #195
Hi, @afrittoli , @vdemeester and all.  I have done improvement in team repository and did a Pull Request #255

But now it run into errors  at "Deploy failed" phase. [Deploy Logs](https://github.com/tektoncd/website/pull/255/checks?check_run_id=2092427013) .

I looked up the logs and got message  says sth wrong with trigger sync
 `ERROR:root:No tag main found in <git.repo.base.Repo '/opt/build/repo

[2021-03-12 13:25] goldmann opened #256 "After moving to main branch images are not displayed correctly"
# Expected Behavior

Images displayed on rendered page :)

# Actual Behavior

No images!

# Steps to Reproduce the Problem

1. Go to: https://tekton.dev/docs/triggers/
2. See no trigger flow.

[2021-03-12 13:38] vdemeester commented on #256
/cc @afrittoli @AlanGreene

[2021-03-12 13:41] afrittoli commented on #256
Thanks for the report @goldmann , looking into it.

[2021-03-12 13:42] AlanGreene commented on #256
Looks like the GitHub redirect isn't quite working as it should
we could update the URL to reference this directly: https://raw.githubusercontent.com/tektoncd/triggers/main/images/TriggerFlow.png

[2021-03-12 13:55] afrittoli commented on #256
The problem was on triggers side, they had an absolute link to the image there:

[code]

To fix this we would need to back-port a fix on all relevant branches 😅

[2021-03-23 11:49] afrittoli commented on #252
I've been trying to implement this by requesting the doc team as a reviewer on PRs, however it turns out that only repo collaborators can be reviewers (from GitHub point of view). Making the doc reviewers team a collaborator of all repos would automatically git `/lgtm` powers to all members of the team on all repos, which is not what we want.
The only alternative I can think of is to add a comment

[2021-03-23 14:07] sergetron commented on #252
Thank you for investigating this Andrea. I think the email notification works, this way at least we're aware that there are docs changes being made.

[2021-03-24 14:54] afrittoli commented on #250
I think this one can be closed then?

[2021-03-24 15:29] #250 closed

[2021-03-24 23:06] afrittoli commented on #252
Once the catalog update is done, it'll be quick to add to the CI job.

[2021-03-26 15:58] afrittoli commented on #253
Thanks @daenney for the report!
I replaced the CNAME record with an ALIAS, it looks better now:
[code]

Please let me know if you're happy to close this now.

[2021-03-26 22:49] daenney commented on #253
Everything works for me now too. Thanks for fixing it!

[2021-03-26 22:49] #253 closed

[2021-03-29 08:41] #252 closed

[2021-03-30 05:26] kobaji opened #260 "[Question]: Could you please tell me how I can resolve the deploys' failures?"
Hi there,
I opened a PR #259 by mistake but I am wondering why this deploy failed.
As you can see in that PR>[Files changed](https://github.com/tektoncd/website/pull/259/files) , I just modified README.md in this PR, therefore I did not think it would fail.

[The Deploy log](https://app.netlify.com/sites/tekton/deploys/6062b3575dc1e700073ac1d2#L208) says as below but I am not sure how I can resolv

[2021-03-30 12:58] AlanGreene commented on #260
@afrittoli do we need to clear the netlify build cache or something since the recent branch renaming? Looks like it's getting stuck on the sync script. I reproduced the same error as @kobaji in a PR based off latest commit on `main` https://github.com/tektoncd/website/pull/261 (logs https://app.netlify.com/sites/tekton/deploys/60631fc36a06700008b6fddc)

[2021-03-31 10:28] afrittoli commented on #260
We rely on Netlify for the CI jobs, and they take the `branch-a` and build from there.
They also use a cache to improve the runtime of the CI jobs.

The issues you're seeing are related to the change of the default repo branch from `master` to `main` across all Tekton repos, which is something that should not happen again in future.

I will clean the Netlify cache, that should solve the issue.

[2021-03-31 10:30] afrittoli commented on #260
Oh, the PR is closed now. If this happens again please ping me on the PR, I will reset the Netlify cache.

[2021-03-31 10:34] AlanGreene commented on #260
@afrittoli I reopened https://github.com/tektoncd/website/pull/261 since this is something that'll affect the next person to open a PR

[2021-03-31 10:39] afrittoli commented on #260
Thanks. We don't really control how Netlify uses their caches, I've cleaned the cache a few times, so I would expect CI jobs to work now, but perhaps they have a cache per node or something like that...

[2021-03-31 10:41] AlanGreene commented on #260
Looks like we're good now, all checks passed on that PR. Thanks Andrea 😸

[2021-03-31 23:47] kobaji commented on #260
They also use a cache to improve the runtime of the CI jobs.

Thank you very much for your help @afrittoli , @AlanGreene

I reopened PR #259 and newly created PR #262 but neither of them succeeded their deploys.

Honestly I am not sure if what I have done in the above PRs, but do we need to re-clean the cache?

[2021-04-02 01:58] cclemonzy commented on #260
@afrittoli  @AlanGreene @kobaji  My new created PR #263 got the same build failure, so I think I should reopen this issue instead of creating new issue.  As what described in (https://github.com/tektoncd/website/issues/260#issuecomment-810958424),  no more action is required in the source branch? or anything we can do for cleaning the cache?

[2021-04-02 02:03] cclemonzy commented on #260
/open

[2021-04-02 02:08] cclemonzy commented on #260
/reopen

[2021-04-02 02:10] kobaji commented on #260
/reopen

[2021-04-08 14:47] photoni-137 opened #264 "Documentation on Pipeline Controller Metrics seems to be outdated"
# Expected Behavior
The documentation provides the correct metric names.
# Actual Behavior
The documented metric names seem to be outdated; `tekton` needs to be replaced by `tekton_pipelines_controller`.

For example: `tekton_pipelinerun_count` is now called `tekton_pipelines_controller_pipelinerun_count`.
# Steps to Reproduce the Problem
Curl the metrics endpoint of the pipelines controller.
# Ad

[2021-04-08 15:46] AlanGreene commented on #260
@kobaji @cclemonzy It looks like the checks are passing on https://github.com/tektoncd/website/pull/263 now. Are we OK to close this?

[2021-04-08 23:34] kobaji commented on #260
Thank you very much @AlanGreene for your kindness.
Yes we can close this issue and I will.

As I mentioned in [the previous comment](https://github.com/tektoncd/website/issues/260#issuecomment-811536266), some PRs have not been succeeded their deploys.

But these PRs are just for test therefore I will no more check or ask about the failures.
Once we have open another PR and the deploy did not succ

[2021-04-08 23:34] #260 closed

[2021-04-13 22:21] eniomachado opened #265 "Pipeline Tekton getting an error to deploy with resource quotas"
I'm doing an simple test with the tekton, I'm using in openshift but i cant deploy in any namespace that has resource quotas.

apiVersion: v1
items:
- apiVersion: tekton.dev/v1beta1
  kind: TaskRun
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"tekton.dev/v1beta1","kind":"Task","metadata":{"annotations":{},"name":"socketclient","namesp

[2021-04-13 22:24] eniomachado commented on #265
#task script
 $ cat socketclient-task.yaml
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: socketclient
spec:
  workspaces:
  - name: source
  # params:
  #   - name: manifest_dir
  #     description: The directory in source that contains yaml manifests
  #     type: string
  #     default: "k8s"
  steps:
    - name: apply
      image: quay.io/openshift/origin-cli:latest
      workingD

[2021-04-13 22:27] eniomachado commented on #265
#pipeline

$ cat pipeline.yaml
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: socketclient-pipeline
spec:
  workspaces:
  - name: shared-workspace
  # params:
  # - name: deployment-name
  #   type: string
  #   description: name of the deployment to be patched
  # - name: git-url
  #   type: string
  #   description: url of the git repo for the code of deployment
  # - name: git-

[2021-04-14 00:10] AlanGreene commented on #265
This issue would probably be better suited in the tektoncd/pipeline repository, it's not related to the website / docs content.

Looking at the error message it appears you haven't set any resource limits or requests on your steps:

See the [docs for defining steps](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#defining-steps) for an example of setting these fields. You can also [sp

[2021-04-14 05:19] cclemonzy commented on #195
Hi, @afrittoli  we could not add one or two proper images on landing page now, I fell sorry for  theinconvenience.  And the other requirements here is done in PR #263 as discussed in PR conversation.

[2021-04-14 13:06] eniomachado commented on #265
@AlanGreene  thank you.

[2021-04-23 11:03] olegmayko opened #267 "Getting Started"
# Expected Behavior
It would be easier to start if the dependency between tekton and k8s version is specified more precisely.  For instance, k8s v1.16 is not compatible with  tekton v0.22.

# Actual Behavior

`A Kubernetes cluster version 1.15 or higher for Tekton Pipelines v0.11.0 or higher, or a Kubernetes cluster version 1.11 or higher for Tekton releases before v0.11.0.`

# Steps to Reproduce

[2021-04-23 11:06] AlanGreene commented on #265
Closing as a duplicate of https://github.com/tektoncd/pipeline/issues/3879

[2021-04-23 11:06] #265 closed

[2021-05-04 08:17] jenoOvchi opened #268 "Trigger Templates Typo"
In the pargraph "To enable support for arbitrary resource types, the resource templates are internally resolved as byte blobs. As a result, validation on these resources is only done at event processing time (rather than during TriggerTemplate creation). :rotating_light: As of now, only Tekton resources can be defined within a TriggerTemplate :rotating_light:" rotating_light are not applyed to the

[2021-05-07 00:40] #22 closed

[2021-05-07 02:40] #157 closed

[2021-05-07 02:40] #156 closed

[2021-05-07 04:40] #102 closed

[2021-05-07 05:40] #140 closed

[2021-05-07 11:40] #178 closed

[2021-05-07 14:40] #174 closed

[2021-05-07 15:40] #130 closed

[2021-05-07 15:40] #165 closed

[2021-05-07 17:40] #202 closed

[2021-05-07 17:40] #197 closed

[2021-05-07 17:40] #199 closed

[2021-05-07 19:40] #115 closed

[2021-05-18 10:48] eliasnorrby opened #271 "Invisible links in navigation (pipelines)"
# Expected Behavior
All documents should have a visible link in the sidebar.

# Actual Behavior
Link text is missing for a number of documents.

# Steps to Reproduce the Problem

1. Visit https://tekton.dev/docs
2. Expand Tasks and Pipelines in the sidebar
3. Hover over the blank space below "Deprecations"

# Image
<img width="1428" alt="invisible_links" src="https://user-images.githubusercontent.

[2021-05-18 10:51] afrittoli commented on #271
Nice catch, thank you!
It feels like this should be fixed on pipeline side?
Until then we could either exclude them via the config or specify the link title on website side.

[2021-05-18 10:52] eliasnorrby commented on #271
Yeah, this is easy enough to resolve, but relates to #270 in that the fix must be merged to all previous releases. Do you think the strategy of using branch refs in the sync config is appropriate for this?

[2021-05-18 11:12] afrittoli commented on #271
I think that would be a nice solution - however the `sync` tool right now looks for `tags` and local refs only - we would need to extend it to work with remote branches too.

[2021-05-18 11:22] afrittoli commented on #271
Heh, in fact specifying the branch in the config as `origin/<branch-name>` already works with the existing code - but I guess it would be nicer to be able to configure the branch name alone.

[2021-05-18 11:23] eliasnorrby commented on #271
That's true, but for [that part](https://github.com/tektoncd/website/blob/e8b68d6b5eb23675decf98c2d6e00e4187fb3947/sync/sync.py#L108-L128) of `sync.py`, a ref like `origin/release-v0.12.1` should work.  tried using a remote branch ref [here](https://github.com/tektoncd/website/pull/270#discussion_r634255064), and it seems to work.

[2021-05-18 11:24] eliasnorrby commented on #271
Haha, you're one step ahead of me. Yes, that would be nice.

[2021-05-18 11:26] afrittoli commented on #271
Ah, nice. I think we could start using the ref like you did in the triggers patch.
If you'd like, you could also add support for specifying the ref without the `origin/` part, as a follow-up.
Thank for looking into this, it's much appreciated!

[2021-05-18 11:36] eliasnorrby commented on #271
Cool, I'll take a look! That means I'll
- open a PR for each (relevant) release branch within `triggers` to update frontmatter, specifically `linkTitles`, for navigation to make sense
- open a PR for each (relevant) release branch within `pipelines` to add the missing frontmatter to fix invisible links
- open one or more PRs in `website` to use branch references in the sync config (one of which wi

[2021-05-18 12:00] afrittoli commented on #271
Thanks!
I can create the branches. I would start from `main` and work your way backwards, but I would say only for releases that are published on the website.

[2021-05-20 12:29] afrittoli commented on #211
/remove-lifecycle stale the issue still exists

[2021-05-20 13:30] afrittoli commented on #211
https://tekton.dev/vault/triggers-v0.9.1/eventlisteners/#how-does-the-eventlistener-work

[2021-05-20 13:36] nikhil-thomas commented on #211
[](url)

This link is working for me 🤔

it fails for `master`. As `master` branch doesn't exist any more, this is expected isn't it.

This page is not there in `main` branch.

[2021-05-20 13:39] afrittoli commented on #211
The link works fine, it's the text that is broken

![image](https://user-images.githubusercontent.com/2205608/118988545-31a4d700-b979-11eb-9b40-c2d3e8c04cdf.png)

[2021-05-20 13:42] afrittoli commented on #211
On `main` I don't see that text anymore https://tekton.dev/vault/triggers-main/eventlisteners/#how-does-the-eventlistener-work this would be a fix on the old branch only. Not so critical then :)

[2021-05-24 09:14] AlanGreene commented on #65
This is still an issue, the edit links are broken and we should fix them.
/reopen

[2021-05-24 09:15] AlanGreene commented on #65
/lifecycle frozen

[2021-05-24 18:55] seankhliao opened #273 "Latest Versions stuck on v0.10.1 for triggers"
# Expected Behavior

"Latest Versions" in navbar reflects latest released versions

# Actual Behavior

Triggers still shows v0.10.1 when the latest is v0.14.1

![2021-05-23-201258](https://user-images.githubusercontent.com/11343221/119394244-3f888e00-bcd2-11eb-8378-5d412ed6f300.png)

# Steps to Reproduce the Problem

* go to https://tekton.dev/docs/
* click "Latest Versions" in navbar

[2021-05-24 19:02] AlanGreene commented on #273
Thanks for reporting. There's a PR open to add the missing versions https://github.com/tektoncd/website/pull/270

[2021-05-26 17:49] afrittoli commented on #271
@eliasnorrby please let me know if there are branched that you need me to create for pipeline and/or triggers 🙏
Thank you again for driving this forward!!!

[2021-05-26 23:50] eliasnorrby commented on #271
Okay, here's the list of `pipeline` releases available on the website in need of patching:

- [ ] `release-v0.24.x` no branch available
- [ ] `release-v0.23.x` no branch available
- [ ] `release-v0.22.x` no branch available
- [ ] `release-v0.21.x` no branch available
- [ ] `release-v0.20.x` OPEN tektoncd/pipeline#3980
- [ ] `release-v0.19.x` no branch available
- [ ] `release-v0.18.x` OPEN tektonc

[2021-05-28 16:15] #176 closed

[2021-05-29 05:04] nikhil-thomas commented on #17
this is something we need to handle better for our users 🧑‍💻
/remove-lifecycle rotten

[2021-05-31 07:58] eliasnorrby opened #274 "Nightly deploy job is failing"
The nightly deploy is failing because it's targeting `master`. Some setting must be updated to accommodate for the name change (`master` -> `main`), either in the Netlify UI or within the [`NETLIFY_BUILD_HOOK` secret](https://github.com/tektoncd/website/blob/main/.github/workflows/nightly-deploy.yml#L13).

[Logs](https://app.netlify.com/sites/tekton/deploys/60b473227c60448a709a5a57)

[code]

[2021-06-09 07:44] afrittoli commented on #271
I created all the missing branches - release-v0.24.x was already there since we had a minor release in the meantime.

[2021-06-09 07:51] eliasnorrby commented on #271
Awesome, thanks! I'll try to open the remaining PRs later today.

[2021-06-18 02:17] kobaji commented on #243
/remove-lifecycle rotten

[2021-06-22 17:43] afrittoli commented on #274
Thanks! I recreated the build hook on netlify side and updated the secret.

[2021-06-22 17:43] #274 closed

[2021-06-24 19:59] the-zucc opened #279 "Documentation - Variable substitutions links won't work under `Tasks`"
# Expected Behavior

when clicking on either "See the complete list of variable substitutions for Tasks" or "list of fields that accept substitutions", I should be able to be taken to the appropriate page listing the appropriate

# Actual Behavior

404 not found

# Steps to Reproduce the Problem

1. Go on the `Tasks` page in the docs
2. click on the links mentioned

# Additional Info

might want t

[2021-06-26 19:32] #196 closed

[2021-06-27 16:32] #16 closed

[2021-06-30 16:11] #271 closed

[2021-07-01 11:21] AlanGreene commented on #273
Latest versions of Triggers docs are now available

[2021-07-01 11:21] #273 closed

[2021-07-02 15:31] tpiperatgod opened #281 "Should `dpkg` be used to install the `.deb` package of the CLI"
I was following to the [CLI-Installation](https://tekton.dev/docs/cli/#installation) documentation for installing Tekton's CLI and I found that the documentation said.

# Expected Behavior
Should `dpkg` be used to install the `.deb` package?
I noticed that there is a PR(#244) that fixes a similar issue and suggest that the same treatment should be applied here.

# Actual Behavior
The documentation

[2021-07-02 18:58] AlanGreene commented on #281
Thanks for reporting this @tpiperatgod, it does look like it should be using `dpkg` as in the change you referenced. @tektoncd/cli-maintainers fyi

The content for that doc is at https://github.com/tektoncd/cli/tree/main/docs so it would need to be updated there.

[2021-07-05 09:19] tpiperatgod commented on #281
It looks like it will be fixed soon and I am closing it here.

[2021-07-05 09:19] #281 closed

[2021-07-06 12:04] itewk opened #282 "EventListeners docs say to use extenisons. in EventListner.triggers.interceptors.cel.overlays.key value but that doesnt work"
# Expected Behavior

The docs show that to set a value for an extension to do:

EventListener
[code]

TriggerBinding
[code]

# Actual Behavior

But from experimentation with Red Hat OpenShift Pipelines 1.4.1 that doesnt work and gives error. What works is:

EventListener
[code]

TriggerBinding

[code]

The difference being dropping the `extensions.` in the EventListener in the overlay key value.

[2021-07-12 12:39] hxysayhi opened #283 "Setting Up Tekton Triggers"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1. click `Tekton Triggers Getting Started Guide`
2. http response 404

# Additional Info

[2021-07-16 10:47] astelmashenko opened #284 "Can not find cloudevent"
# Expected Behavior
I can find tekton events schema or several examples to understand how to handle piplinerun/taskrun events.

# Actual Behavior
There is only taskrun json example https://tekton.dev/docs/pipelines/events/#format-of-cloudevents

[2021-07-18 09:51] thecooldrop opened #285 "Tasks section references broken URLs"
# Expected Behavior
Under section https://tekton.dev/docs/pipelines/tasks/#using-variable-substitution two pages are referenced, where user should be able to see complete list of available variable substitutions and list of fields which accepts substitutions, but there URLs lead to 404 pages.

![image](https://user-images.githubusercontent.com/17129522/126062829-3cd54327-40ed-4f5e-ad49-19e67b4319c

[2021-08-04 18:27] bigfleet opened #287 "Setting Up Tekton Triggers"
# Expected Behavior

Access Tekton Triggers Getting Started Guide

# Actual Behavior

GitHub 404

# Steps to Reproduce the Problem

1. Read [triggers installation guide](https://tekton.dev/docs/triggers/install/)
2. Click "Tekton Triggers Getting Started Guide" (links currently to https://github.com/tektoncd/triggers/tree/origin/release-v0.14.x/docs/getting-started)

# Additional Info

Perhaps it'

[2021-08-16 15:22] bigfleet opened #289 "Leveraging label propogation"
# Expected Behavior

I visited the Tekton documentation website with the expectation of learning how I could ultimately apply a label to the pod created from a TaskRun.

# Actual Behavior

[The label page](https://tekton.dev/docs/pipelines/labels/) described propagation exactly as I'd hoped, but not whether I could take advantage of it with my own labels, or how/where.

# Steps to Reproduce the Pr

[2021-08-16 15:23] bigfleet commented on #287
(See also #283)

[2021-08-17 12:05] alanjjenkins opened #290 "Katacoda course broken"
# Expected Behavior
After the initial install during the Katacoda course the pods should be running and healthy.

# Actual Behavior
The pods fail to start as the Katacoda Kubernetes environment is 1.18 which is incompatible with the current version of TektonCD so you get an error in the pod logs:

[code]

# Steps to Reproduce the Problem

1. Start the Katacoda course.
2. Install the linked manifes

[2021-08-17 17:16] alanjjenkins commented on #290
Sorry forgot to mention that! It was the https://katacoda.com/tektoncd/scenarios/getting-started course that is linked in the documentation.

[2021-08-17 17:23] AlanGreene commented on #290
Katacoda currently only provides a Kubenetes 1.18 environment: https://www.katacoda.community/environments.html

We could potentially switch to a base Ubuntu environment and install [kind](https://kind.sigs.k8s.io/) or similar ourselves, but I'm not sure how fast / stable that would be. Might be worth testing at least.

In the short term, we could update the scripts and docs to pin the Tekton proj

[2021-08-18 11:21] AlanGreene commented on #290
/assign

[2021-08-18 11:48] AlanGreene commented on #290
PR open to pin to Pipelines v0.26 and fix a few other issues I found while testing: https://github.com/tektoncd/website/pull/291

[2021-08-19 03:30] maktup opened #292 "EventListener not Show URL Address."
# Expected Behavior
Problem to generate the ADDRESS URL with EventListener in TEKTON.

# Actual Behavior

# Steps to Reproduce the Problem
Here are:
https://github.com/wolfmanx23/cliente-api-kube/blob/master/pipeline/guia_ejecucion_comandos.txt

But never get the URL in EventListener whtn
$ oc get el -n pipelines-tutorial

With this and with other tutorials.

# Additional Info

[2021-08-19 14:03] bigfleet opened #293 "Git resource for private repos doc approach"
# Expected Behavior

Tekton triggers example uses a git resource for its public repo, creating an impression in the newcomer that this is how git repos are acquired.  (Not wholly incorrect, it seems.)

[Git resource](https://tekton.dev/docs/pipelines/resources/#git-resource) mentions nothing about private repos.

Cloning private repos is [relatively well documented](https://hub.tekton.dev/tekton/t

[2021-08-19 16:57] bigfleet commented on #293
I do see that this link I've provided is a task from the catalog rather than something that ships out of the box with Tekton.  Hmm, makes fixing this a little more complicated possibly.

[2021-08-26 14:21] mustaFAB53 opened #307 "Tekton dashboard interactive tutorial in Katacoda fails for cluster version 1.18"
Tekton dashboard interactive tutorial in Katacoda fails for cluster version 1.18

[code]

Please upgrade the tutorial to create the cluster of required version considering latest releases

Link to the interactive tutorial : https://katacoda.com/tektoncd/scenarios/dashboard

[2021-08-30 13:44] AlanGreene commented on #293
Auth for PipelineResources is documented in https://tekton.dev/docs/pipelines/auth/
Does this cover the information you're looking for?

Also bear in mind that PipelineResources are effectively deprecated and there's an open TEP to make this official: https://github.com/tektoncd/community/pull/480

[2021-08-30 14:57] bigfleet commented on #293
I didn't know that about PipelineResources, not even a whiff.  I also didn't get a clear picture from that link about what will be its replacement?  (Today's documentation does assert the criticality of acquiring source and pushing images, both of which seem currently to be PipelineResource responsibility.)  Their deprecation seems like it will be quite the event.  (I've been looking at Tekton ser

[2021-08-30 15:15] #293 closed

[2021-09-09 13:04] #267 closed

[2021-09-19 13:04] mnitta commented on #205
I can handle this, if this is still an issue. @afrittoli

[2021-09-19 16:06] afrittoli commented on #205
That'd be great, thank you!

[2021-09-24 08:49] crdnb opened #297 "How to configure a webhook secret on CEL Interceptors?"
# Expected Behavior
The docs show how we can configure webhook secrets on github and bitbucket interceptors. It would be great to also have an example how to secure cel interceptors.

# Actual Behavior
No docs found.

# Steps to Reproduce the Problem
See the docs: https://tekton.dev/docs/triggers/interceptors/#cel-interceptors

# Additional Info

[2021-09-27 13:20] andchar opened #301 "Dead links"
# Steps to Reproduce the Problem

1. Go to https://tekton.dev/docs/pipelines/tasks/#using-variable-substitution
2. Find line `"See` the complete list of variable substitutions for Tasks and the list of fields that accept substitutions."
3. There are two dead links.

[2021-09-27 15:39] #205 closed

[2021-09-27 15:44] AlanGreene commented on #290
PR was merged and deployed Sept 8th, releases are pinned to known working versions for the Katacoda environment.

[2021-09-27 15:44] #290 closed

[2021-10-14 22:12] #211 closed

[2021-10-20 14:07] #307 closed, assigned to nobody

[2021-10-26 03:42] cugykw opened #309 "Pipeline Metrics"
# Expected Behavior
https://tekton.dev/docs/pipelines/metrics/
__observability configuration__
Click on the jump link to a valid website.

# Actual Behavior

# Steps to Reproduce the Problem
__observability configuration__
The link on the official website is invalid.

# Additional Info

[2021-10-27 17:51] AlanGreene opened #310 "Update Katacoda tutorials to use latest releases again"
Recent Tekton Pipelines releases (v0.27+) require Kubernetes 1.19 or later. Katacoda currently provides a Kubernetes 1.18 environment, so we have pinned the Tekton Pipelines release to v0.26 in the tutorials.

Here are the currently supported Katacoda environments: https://www.katacoda.community/environments.html

We could potentially switch to a base Ubuntu environment and install [kind](https://

[2021-10-29 14:48] afrittoli opened #312 "DisplayOrder in sync config files is not honoured"
# Expected Behavior

Components are displayed in the docs in the order corresponding to the `displayOrder` configured in the `sync/component.yaml` config files.

# Actual Behavior

 `displayOrder` is ignored. The order is decided by the `weight` specified in the front matter of the root `README.md` in the sync'ed repos.

[2021-11-03 17:22] AlanGreene commented on #34
Sync updated to use release branches to avoid need for minor/patch releases to update docs. Closing this.

[2021-11-03 17:22] #34 closed

[2021-11-03 17:25] AlanGreene commented on #195
This is done. Other improvements coming in #17 and other issues.

[2021-11-03 17:25] #195 closed

[2021-11-03 17:28] AlanGreene commented on #23
Discussed on docs working group. Closing as the community has changed quite a bit since this was written. Will revisit parts of this that make sense in future.

[2021-11-03 17:28] #23 closed

[2021-11-03 17:31] afrittoli commented on #117
/remove-lifecycle stale

[2021-11-03 17:31] afrittoli commented on #117
/lifecycle frozen

[2021-11-03 18:03] afrittoli commented on #65
Looking at the [latest docsy docs](https://www.docsy.dev/docs/adding-content/repository-links/#path_base_for_github_subdir-optional) I think this could be solved by:
- updating docsy - see https://github.com/tektoncd/website/pull/303
- updating the content matter in the various projects to include the following type of data

[code]

[2021-11-03 18:04] afrittoli commented on #118
/remove-lifecycle stale

[2021-11-03 18:04] afrittoli commented on #118
/lifecycle frozen

[2021-11-03 18:06] afrittoli commented on #118
Sync is implemented now via local clones, with support for local cache too.

[2021-11-03 18:11] afrittoli commented on #191
Search now works, so I decreased the criticality of this item, but there are still a few issues to be solved:

- search results should produce links to the latest release by default
- search includes advertisements

Sorting results by date instead of relevance bring up the most recent pages first, but it may not be an ideal solution.
'Relevance' is the default method of sorting.

![image](https://

[2021-11-03 18:14] afrittoli commented on #243
https://github.com/tektoncd/website/pull/266#issuecomment-959781103

[2021-11-03 18:17] afrittoli commented on #243
Thank you @takoh-yuuichiro for this issue. Based on @AlanGreene comments in https://github.com/tektoncd/website/pull/266#issuecomment-959781103 I would propose to close this issue for now.

[2021-11-03 18:18] afrittoli commented on #264
/remove-lifecycle rotten

[2021-11-04 09:19] ionir-cloud opened #313 "Workspaces"
# Expected Behavior

More examples links will lead to the right github location

_More examples
See the following in-depth examples of configuring Workspaces:

Workspaces in a TaskRun
Workspaces in a PipelineRun
Workspaces from a volumeClaimTemplate in a PipelineRun_

# Actual Behavior
links are dead

# Steps to Reproduce the Problem

1. just click it
2.
3.

# Additional Info

[2021-11-04 10:18] takoh-yuuichiro commented on #243
Thank you @afrittoli for sending us [#266 (comment)](https://github.com/tektoncd/website/pull/266#issuecomment-959781103) . We understand the comments. So closing this issue for now.

[2021-11-04 10:18] #243 closed

[2021-11-04 10:29] afrittoli commented on #313
Thank you for your report @ionir-cloud !
The broken links look like https://github.com/tektoncd/pipeline/tree/origin/release-v0.29.x/examples/v1beta1/taskruns/workspace.yaml .
The issue originates from having the `origin/release-v0.29.x/` in the sync configuration.
Previously we would only use tag names, but that did not allow for updates to the docs.
This will require a change in the sync script.

[2021-11-04 12:39] afrittoli commented on #309
Thank you @cugykw for reporting this issue.
This will be fixed by https://github.com/tektoncd/website/pull/314

[2021-11-04 12:44] afrittoli commented on #297
@crdnb Thank you for you report.
Events from github or bitbucket webhook include a secret that can be validated by the respective interceptors.

CEL interceptors are used to filter events based on the value of fields within the JSON payload - so it is not clear to me what  you mean by "securing CEL interceptors". Could you elaborate a bit more on your use case?

/cc @tektoncd/triggers-maintainers

[2021-11-04 12:53] #313 closed

[2021-11-04 12:54] afrittoli commented on #292
Hello @maktup - thank you for your report.

The address of event listeners is displayed correctly when using `tkn` or `kubectl`.
I'm not sure if there is an issue with the openshift client specifically, or if the address is missing for some reason.
You could try fetching the resource using `kubectl get -o yaml el/<name> -n pipelines-tutorial` to see if the address is in there at all.

If the URL i

[2021-11-04 12:54] #292 closed

[2021-11-04 13:22] afrittoli commented on #289
Hi @bigfleet - thank you for your report.

Labels are propagated as documented in https://tekton.dev/docs/pipelines/labels/#label-propagation - so if you add your own label for instance to a `TaskRun` (or to a `PipelineRun`), it will be propagated all the way down to associated pods.

Note that if you add a label to a `PipelineRun` it will be added to all `TaskRuns` in the `PipelineRun` and thus t

[2021-11-04 13:23] afrittoli commented on #309
Verified this is fixed now.

[2021-11-04 13:23] #309 closed

[2021-11-04 13:24] AlanGreene commented on #285
Thanks for reporting this. Closing as a duplicate of https://github.com/tektoncd/website/issues/279

[2021-11-04 13:24] #285 closed

[2021-11-04 14:16] crdnb commented on #297
Hi @afrittoli
Thank you very much for your message.
As bitbucket webhooks did not work with our on-prem bitbucket instance and tekton, we switched to CEL interceptors. But now we have no opportunity to secure the webhooks.
Thank you!

[2021-11-04 14:55] afrittoli commented on #297
@crdnb thank you for explaining the issue.

I'm not familiar with the webhook events from bitbucket; something that might be useful to you is a set of [custom CEL functions](https://github.com/tektoncd/triggers/blob/main/docs/cel_expressions.md) that are available in CEL interceptors that allow you to compare a field in your event payload with a secret stored in your cluster.

Since the docs are h

[2021-11-04 15:09] afrittoli commented on #279
@the-zucc thank you for your report

I added a unit test to the sync script for this use case and I could reproduce the issue:
[code]

I will work on a fix now.

[2021-11-04 15:14] afrittoli commented on #279
Actually that was a bug in the unit test 😅
Rewriting seems to be working fine in the unit tests, so I'll dig deeper to see what might be different about the source link: `/variables.md#variables-available-in-a-task`

[2021-11-04 16:55] afrittoli commented on #279
The problem seems to be related to the fact that similar links exists on the page, so some of them were being replaced twice.

[2021-11-04 16:59] afrittoli commented on #279
Correct links in https://deploy-preview-315--tekton.netlify.app/docs/pipelines/tasks/ :

- https://deploy-preview-315--tekton.netlify.app/docs/pipelines/variables/#variables-available-in-a-task
- https://deploy-preview-315--tekton.netlify.app/docs/pipelines/variables/#fields-that-accept-variable-substitutions

[2021-11-04 17:00] afrittoli commented on #279
@tektoncd/website-maintainers 🙏

[2021-11-04 17:09] afrittoli commented on #172
@coryrc thanks for this reports - the reason this docs dives into git and docker types directly is that those two are the only ones natively supported by Tekton via annotations.

We do have documentation about handling of service accounts (https://tekton.dev/docs/pipelines/pipelineruns/#mapping-serviceaccount-credentials-to-tasks) but I do agree that the various parts related to service accounts a

[2021-11-04 17:22] afrittoli commented on #282
Hello @itewk - thank you for your report.

I see that using `extensions` is documented in triggers v0.12.1 docs https://tekton.dev/vault/triggers-v0.12.1/eventlisteners/#overlays .
In the latest docs - using overlays is documented mostly in https://tekton.dev/docs/triggers/cel_expressions/ - where the docs seems to be correct.

Could you point me to the right place in the docs that seems to be inc

[2021-11-04 17:24] afrittoli commented on #268
@jenoOvchi thank you for the issue report and sorry about the late reply.
Could you please include a link to the page where you see the issue?

[2021-11-04 17:30] afrittoli commented on #268
Never mind - found the issue in https://tekton.dev/vault/triggers-v0.9.1/triggertemplates/

From [hugo docs](https://gohugo.io/getting-started/configuration/#enableemoji), it looks like hugo can supports this syntax, but it may need to be enabled, as it's disabled by default.

[2021-11-04 17:32] AlanGreene commented on #268
Looks like https://tekton.dev/docs/triggers/triggertemplates/ but that content was removed / rewritten in https://github.com/tektoncd/triggers/pull/981.

Do we need to go back and fix this in previous versions? Also should we be using this emoji syntax or actual unicode emoticons instead?

[2021-11-04 17:36] afrittoli commented on #268
I'm not sure we need to go back and fix things as old as `v0.9.1` - however since hugo supports the emoji syntax with colons `:<name>:` we could enable it anyways - I tried it locally and it works fine.

[2021-11-05 17:53] afrittoli opened #318 "ENOENT Reports in the build"
# Expected Behavior

There are no ENOENT issues.
Or we agree that these are no actual issues?

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. https://app.netlify.com/teams/tekton/builds/61855550268ccb0007b82d60

# Additional Info

More details:
[code]

[code]

I see that these operator docs folders are missing on my local laptop too - but the URL is actually working - not sure wha

[2021-11-14 12:16] astelmashenko commented on #284
Thanks, that should be enough.

[2021-11-14 12:16] #284 closed

[2021-11-14 19:35] #268 closed

[2021-11-16 21:36] itewk commented on #282
@afrittoli https://tekton.dev/vault/triggers-v0.12.1/eventlisteners/#overlays shows doing:

[code]

but from my experimintation i had to do:

[code]

So which is correct, the doc, or what I found to be true in experimentation? basically it is a bug doc or an implementation bug or am I crazy?

[2021-11-17 18:10] afrittoli commented on #312
We could remove `displayOrder`. Let's revisit this once the docsy update is done.

[2021-11-18 10:33] afrittoli commented on #282
Hello @itewk - thanks for your response, and for reporting this.

This syntax changed through different versions of triggers - see for instance this change introduced in v0.11:  tektoncd/triggers#859. Older versions required `extensions` while newer ones didn't, but I'm struggling to pinpoint which versions exactly introduced the change.

The [link](https://tekton.dev/vault/triggers-v0.12.1/eventl

[2021-11-18 10:41] afrittoli commented on #264
Thanks @photoni-137 for your report, and sorry about the late reply.
The metric in the pipeline code is called `pipelinerun_count` - but it's then prepended with a prefix which may have changed at some point. The documentation was fixed in v0.26 with [this commit](
https://github.com/tektoncd/pipeline/commit/226a11248de889d7264b83d4a8676cdb5daab659), but the fix was not back-ported to older versio

[2021-11-18 11:39] afrittoli opened #320 "Chains documentation on the Tekton website"
### Feature request

We would like to have the chains documentation available on the website.

### Use case

Software supply chain security gets a lot of attention from our user community now, it would be good to have the documentation of Tekton chains as part of the docs on the website to make the more discoverable.

### Notes

From website POV this should only require adding the sync config file

[2021-11-18 11:41] afrittoli commented on #320
/cc @priyawadhwa @dlorenc @bobcatfish @geriom

[2021-11-18 13:10] priyawadhwa commented on #320
This would be awesome! @afrittoli did you want to add it in? I can open a PR otherwise :)

[2021-11-18 13:18] afrittoli commented on #320
Thanks! I'm happy to create a PR.

[2021-11-18 18:44] HildaHay opened #321 ""Getting Started with Tekton" Katacoda tutorial doesn't work"
The pipeline execution always fails on "step-pytest".

Also, the Katacoda Editor doesn't open so any code editing has to be done via Vim or such.

[2021-11-18 21:39] afrittoli commented on #320
I started working on a PR, and I noticed that there is no [front-matter](https://gohugo.io/content-management/front-matter/) in the docs.

@priyawadhwa cou you add front matter (see an [example](https://raw.githubusercontent.com/tektoncd/pipeline/main/docs/README.md)) to the docs you'd like to be published?

I can  also make some PRs to chains if you'd  prefer so.

[2021-11-18 21:51] afrittoli commented on #320
https://github.com/tektoncd/website/pull/322

[2021-11-19 07:15] JohnNiang opened #323 "Incorrect list style in page of Configuring Interceptors"
# Expected Behavior
![image](https://user-images.githubusercontent.com/16865714/142580779-c4585d43-f488-4691-8a95-12397a7e44b1.png)

# Actual Behavior
![image](https://user-images.githubusercontent.com/16865714/142580879-f56f8ac9-7cf6-401d-aaee-23a0d163667b.png)

# Steps to Reproduce the Problem

Redirect to https://tekton.dev/docs/triggers/interceptors/#overview

# Additional Info

Correct style

[2021-11-19 11:27] afrittoli commented on #312
Fixed via https://github.com/tektoncd/website/pull/324

[2021-11-19 11:27] #312 closed

[2021-11-19 11:44] AlanGreene commented on #323
@afrittoli I think you may have referenced the wrong issue in PR #324, reopening this as it's still valid.

[2021-11-19 12:56] AlanGreene commented on #321
Thanks for reporting this @HildaHay. It looks like the sample app isn't compatible with python 3.10, pinning the image used in the build step to 3.9 allows it to pass. I've opened a PR with this change: https://github.com/tektoncd/website/pull/326

[2021-11-22 16:49] AlanGreene commented on #323
@tektoncd/triggers-maintainers fyi

[2021-11-24 19:45] #321 closed

[2021-11-28 03:57] yuzp1996 opened #329 "Is there any plan to provide Chinese translation in website"
Hi, I want to do some contributions about providing Chinese translation that developers can read the document in Chinese.

But I don't know how to start that.

Is it OK if I make a pullrequest directly?

[2021-11-28 12:42] AlanGreene commented on #329
@yuzp1996 thanks for opening the issue. We're not currently planning to provide translations for the website / docs content. See https://github.com/tektoncd/website/pull/266#issuecomment-959781103 for more details.

[2021-11-28 12:46] yuzp1996 commented on #329
Thanks for your reply very much @AlanGreene

[2021-11-28 12:54] #329 closed

[2021-11-30 16:08] pascalgulikers opened #330 "Can't install binding-eval tool due to Google's namespace change on github"
# Expected Behavior
Installation of binding-eval tool
# Actual Behavior
go get -u github.com/tektoncd/triggers/cmd/binding-eval
go get: github.com/googleapis/gnostic@v0.5.7: parsing go.mod:
        module declares its path as: github.com/google/gnostic
                but was required as: github.com/googleapis/gnostic
# Steps to Reproduce the Problem

1.  go get -u github.com/tektoncd/triggers/cmd

[2021-11-30 17:55] afrittoli commented on #330
@pascalgulikers Thank you for your report! Since the `binding-eval` tool is maintained by the triggers team, I'm going to move this over to that project.

[2021-11-30 17:59] afrittoli commented on #17
/lifecycle frozen

[2021-11-30 17:59] afrittoli commented on #17
Related https://github.com/tektoncd/pipeline/issues/3705

[2021-12-03 17:29] abrennan89 opened #331 "Lower bar for contributions: add generated preview links to website PRs"
### Feature request

The bar seems very high for simple docs contributions: https://github.com/tektoncd/website/blob/main/DEVELOPMENT.md

I am pretty sure I have all of these tools installed, but to make sure I would need to go and find verification steps for each, since these aren't listed. I'd also need to go to each individual site to get install instructions if I didn't have any of the tools,

[2021-12-03 17:37] AlanGreene commented on #331
We do have Netlify preview links on PRs already, see for example this PR: https://github.com/tektoncd/website/pull/298

![image](https://user-images.githubusercontent.com/2829095/144647041-6bcf60f2-4a29-4aec-a53f-f168a82eec8c.png)

Clicking the 'Details' link brings you to the Netlify preview deployment, for that PR it's https://deploy-preview-298--tekton.netlify.app/

We used to have instructions

[2021-12-03 18:26] afrittoli commented on #331
I think the instructions are still there? Maybe we could push them up in the page and move the "docker compose" approach lower in the list.

[2021-12-07 08:52] jonashackt opened #333 "Migrating from Tekton v1alpha1 - "Why aren’t PipelineResources in Beta?" link broken"
# Expected Behavior

The link "Why aren’t PipelineResources in Beta?" at https://tekton.dev/docs/pipelines/migrating-v1alpha1-to-v1beta1/#replacing-pipelineresources-with-tasks should point to https://tekton.dev/docs/pipelines/resources/#why-aren-t-pipelineresources-in-beta

# Actual Behavior

The link "Why aren’t PipelineResources in Beta?" at https://tekton.dev/docs/pipelines/migrating-v1alpha1-

[2022-01-07 07:26] janmaterne opened #334 "Typo on https://tekton.dev/docs/triggers/triggerbindings/"
Typo on https://tekton.dev/docs/triggers/triggerbindings/

s/Specifying paramters/Specifying parameters/
missing 'e'

[2022-01-18 13:25] InfoSec812 opened #335 "Configuring Interceptors"
# Expected Behavior

That I could copy and modify the example interceptor and use it in OpenShift 4.9

# Actual Behavior

I get a validation error on the following resource:

[code]

The error looks like:

![image](https://user-images.githubusercontent.com/99691/149945686-54823ffd-2967-44c0-a03e-1254dabf1ada.png)

`admission webhook "validation.webhook.triggers.tekton.dev" denied the request: vali

[2022-01-18 13:38] AlanGreene commented on #335
Thanks for reporting @InfoSec812.
/cc @tektoncd/triggers-maintainers

[2022-01-18 20:29] dibyom commented on #335
The indentation seems off.... there is an extra `-` in front of `bindings`. Could you point to the example this was copied from?

[2022-01-18 20:31] InfoSec812 commented on #335
So, I found the examples from the Triggers repo and it seems that `interceptors` don't live in isolation, they need to be in the same block as a binding. That was not clear from the documentation. Once I removed the hyphen in front of `bindings` and put it at the same level as `interceptors` it all started working.

[2022-02-01 15:22] geriom opened #338 "Reorder the left-hand side navigation structure"
### Feature request

The current structure does not follow a logical order. Restructure it to make it more user friendly. More details can be found in the roadmap updates in #337, which in turn is based on our discussions in the Docs WG.

[2022-02-08 18:12] vovtz opened #340 "Picture/Diagram missing on Documentation page Triggers and EventListeners"
# Expected Behavior
All images/diagrams in the documentation are present

# Actual Behavior
The SVG image about the Trigger Flow does not exist (shows a broken image icon) on the Triggers and EventListeners page

# Steps to Reproduce the Problem

1. Open https://tekton.dev/docs/triggers/ in a browser
2.
3.

# Additional Info
The SVG images URL is https://tekton.dev/docs/images/TriggerFlow.svg

[2022-02-08 19:36] geriom opened #341 "Update the contribution guidelines and the roadmap."
This issue tracks the update to the contribution guidelines and the roadmap as discussed during the Docs working group.

[2022-02-08 19:39] geriom opened #342 "Publish new documentation plan."
This issue tracks the inclusion of the documentation plan, roadmap, and style guide on the website.

[2022-02-09 15:45] #341 closed, assigned to geriom

[2022-02-09 15:45] #342 closed

[2022-02-09 16:23] afrittoli commented on #320
This is fixed now

[2022-02-09 16:23] #320 closed

[2022-02-09 16:24] afrittoli commented on #334
Thanks @janmaterne for the report!
I'll move this to the triggers project as the doc is maintained there

[2022-02-10 19:13] vaikas opened #343 "Fix the link to nightly releases."
# Expected Behavior
Easier link to install nightly releases. Currently in the link for the nightlies, it should point to something that has the release, just nightly, for example:
https://storage.googleapis.com/tekton-releases-nightly/pipeline/latest/release.yaml

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2022-02-14 07:59] kranurag7 opened #345 "Update Katacoda Scenarios"
- In the katacoda scenarios we need to update the scenario.
- `tekton-dashboard` service is missing in the `tekton-pipelines` namespace. The dashboard is not loading in the katacoda scenarios.
- https://katacoda.com/tektoncd/scenarios/dashboard
![tektoncd](https://user-images.githubusercontent.com/81210977/153822597-ef3e4da3-e349-497c-a9b0-850fc90a1905.jpg)
@AlanGreene Please let me know if I can

[2022-02-14 11:12] AlanGreene commented on #345
Thanks for reporting this @kranurag7. I just tried it myself and it appears to be working correctly.

![image](https://user-images.githubusercontent.com/2829095/153853376-87359578-b480-436b-9224-5b989d6bc68d.png)
![image](https://user-images.githubusercontent.com/2829095/153853393-083ed9b7-e6ab-44cd-99be-4a6c434aa3f9.png)

Can you confirm that you successfully completed the 'Install the Tekton Das

[2022-02-14 11:52] AlanGreene commented on #340
@tektoncd/triggers-maintainers fyi

[2022-02-14 12:00] AlanGreene commented on #333
/assign

[2022-02-14 12:30] afrittoli commented on #340
I looked a bit at this one, and the problem is that the image is not stored along with the docs, but in an `images` folder, which is a peer of the `docs` one. I suspect the easiest fix here would be to move the image around, possibly place the `images` folder under `docs` in the `triggers` repo would help already.

Alternatively we could add logic to the sync script to handle shared images, e.g.:

[2022-02-14 12:50] AlanGreene commented on #340
I'd be in favour of the easier approach here:

[2022-02-14 13:07] khrm commented on #340
Sure, I would move the images folder under docs folder.

[2022-02-14 14:24] #343 closed, assigned to nobody

[2022-02-14 15:23] #333 closed

[2022-02-14 16:48] geriom opened #346 "Installation section"
### Feature request

Create an installation section to cover installation for different components and different vendors. As outlined in the [roadmap](https://github.com/tektoncd/website/blob/main/roadmap.md#updates-to-documentation-structure).

### Use case

To make the installation instructions more discoverable, create a section with installation tutorials for every case.

### Tasks to refactor

[2022-02-14 18:50] vovtz commented on #340
Thanks for the fast resolution. When will this result in a change of the effected website page (https://tekton.dev/docs/triggers/)?

[2022-02-15 06:55] khrm commented on #340
@afrittoli I think placing `images` folder inside triggers `docs` folders didn't solve this. Or is the website yet to be rebuilt?

[2022-02-15 07:03] afrittoli commented on #340
Thanks @khrm I need to update the website config to include the new folder.
Once I've done that it should on the "main" branch docs. If you want to fix it on the docs associated to a release you'll need to backport the fix to the branch

[2022-02-15 11:18] vovtz opened #347 "Katacoda scenario Using Tekton Tasks no longer works"
# Expected Behavior
Starting the TaskRunner will result in a successful run

# Actual Behavior
The `pytest` fails, because the version used is incompatible with Python 3.10

# Steps to Reproduce the Problem

1. Complete the Using Tekton Tasks scenarion on Katacoda
2.
3.

# Additional Info

- Kubernetes version:
N/A
  **Output of `kubectl version`:**
N/A
[code]

[2022-02-15 11:34] vovtz opened #349 "Katacoda scenario Using Tekton Tasks doesn’t work with Python 3.10"
# Expected Behavior
Scenario can be completed with Python 3.10
# Actual Behavior
The tests by `pytest` fail
# Steps to Reproduce the Problem

1. Start the Using Tekton Task scenario
2. Follow the instructions (not specifying Python image tag results in version 3.10 used) OR specify the `3.10` tag manually
3. Apply the TaskRunner

# Additional Info

- Kubernetes version:
N/A

- Tekton Pipeline vers

[2022-02-15 17:10] AlanGreene commented on #347
Fix is live on katacoda and working as expected, thanks for reporting and providing the fix
/meow

[2022-02-15 17:10] #347 closed

[2022-02-15 19:07] vovtz opened #352 "Small typo and incomplete sample output in Katacoda scenario Tekton Basic Pipeline"
In step 1, the reference output mentioned misses two lines.

In step 2, first paragraph it says “repeatitive”.

[2022-02-16 10:33] AlanGreene commented on #352
Closed by #354. Thanks again @vovtz

[2022-02-16 10:33] #352 closed

[2022-02-16 13:23] AlanGreene commented on #349
Sticking with python 3.9 as discussed on https://github.com/tektoncd/website/pull/350

[2022-02-16 13:23] #349 closed

[2022-02-17 10:22] kranurag7 commented on #345
Thank you @AlanGreene for helping me out. It's working now. I think there was mistake from my side during installation.

[2022-02-17 10:23] #345 closed

[2022-02-21 00:40] JohnNiang commented on #323
/remove-lifecycle stale

[2022-03-06 09:19] georgettica opened #360 "Exposing Event Listeners Externally"
# Expected Behavior
opening the link should point to a valid url that will give info on the provided issue

# Actual Behavior
clicking in https://tekton.dev/vault/triggers-v0.6.1/exposing-eventlisteners/#using-openshift-route the link goes to a broken link

# Additional Info
Add a cron to check validity of URL's in this repo

[2022-03-07 13:00] AlanGreene commented on #360
@georgettica thanks for reporting the issue. The docs link you provided is for a very old release of Triggers (v0.6.1 release July 2020).

Assuming the broken link you're talking about is the one to further information about the OpenShift Routes.

The latest version of the EventListener doc is available at https://tekton.dev/docs/triggers/eventlisteners/#exposing-an-eventlistener-outside-of-the-cl

[2022-03-07 13:11] georgettica commented on #360
Hmm, didn't notice this was an old release, sorry!

[2022-03-07 13:11] #360 closed

[2022-03-28 13:37] naphatkrit opened #363 ""The Tekton APIs" link in https://tekton.dev/docs/overview/ links to k8s CRD page"
Today, "The Tekton APIs" link just links out to the [k8s CRD page](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/). Was this supposed to link somewhere else? Are the APIs just referring to the [go APIs](https://pkg.go.dev/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1) for creating tekton CRDs as golang objects? Or are there other programma

[2022-04-04 19:50] #318 closed

[2022-04-13 21:23] #310 closed

[2022-04-17 00:25] fckbo opened #365 "Triggers and EventListeners documentation - TriggerFlow do not display"
# Expected Behavior
1. When accessing https://tekton.dev/docs/triggers/
2. At the end of the "How does Triggers work?" section a TriggerFlow diagram should display

# Actual Behavior
The TriggerFlow diagram does not display

# Steps to Reproduce the Problem
See expected Behavior section above

# Additional Info
The html artefact coresponding to the error
[code]

[2022-04-17 11:48] #282 closed

[2022-04-19 16:37] geriom commented on #331
We have a doc that covers how to run the site locally either installing the necessary dependencies or using docker compose. https://tekton.dev/docs/contribute/run-locally/

Maybe we can simplify the [contributions landing page](https://tekton.dev/docs/contribute/) to make it more succinct and add clear instructions on how to preview your PR.

[2022-04-20 17:21] AlanGreene opened #366 "Remove references to Katacoda tutorials"
As discussed in the Docs WG on March 15th and on Slack (most recently https://tektoncd.slack.com/archives/CQYFEE00K/p1650380309062539) we have decided to remove references to the Katacoda tutorials from the website and docs.

Creating this issue to capture further discussion and track the work. This issue supersedes https://github.com/tektoncd/website/issues/310 and similar issues.

These are the

[2022-04-26 14:44] binkkatal commented on #366
@AlanGreene would like to contribute

[2022-04-26 17:38] AlanGreene commented on #340
This came up during the Docs WG today when reviewing potential issues for new contributors.

@afrittoli I see you have a PR open for this already: https://github.com/tektoncd/website/pull/351

Does it still require more work? If so, do you think you'll have bandwidth to work on it or does it need a new owner?

[2022-04-26 17:48] AlanGreene commented on #363
Thanks for the issue @naphatkrit and apologies for the delay responding.

We discussed this on the Docs WG today when reviewing potential issues for new contributors.

The APIs in this case are referring to the Kubernetes CRDs provided by the Tekton Pipelines project. We have another issue to make the API reference for these available on the website: https://github.com/tektoncd/website/issues/117,

[2022-04-26 18:04] AlanGreene commented on #366
@binkkatal thanks for joining the Docs WG today. I've updated the description with the details we discussed. Feel free to reach out here or on Slack if you have any questions.

/assign @binkkatal

[2022-04-26 18:08] AlanGreene opened #368 "Remove Katacoda content and config"
Follow up to https://github.com/tektoncd/website/issues/366

Once references to the Katacoda scenarios have been removed everywhere we should also remove the following:
- [x] [tutorials/katacoda](https://github.com/tektoncd/website/tree/main/tutorials/katacoda)
- [x] [katacoda.yaml](https://github.com/tektoncd/website/blob/main/katacoda.yaml)
- [x] the Katacoda webhook in the website repo settings

[2022-04-26 20:35] dudash opened #369 "released CLI docs still instruct to `brew tap`"
# Expected Behavior
Docs should just say to `brew install tektoncd-cli`

# Actual Behavior
Docs say to:
[code]

# Steps to Reproduce the Problem
1. Goto here: https://tekton.dev/docs/cli/
2. See the incorrect steps

Screenshot 2022-04-26
<img width="1680" alt="Screen Shot 2022-04-26 at 4 22 51 PM" src="https://user-images.githubusercontent.com/116840/165386633-564f5e4a-b41c-4280-9e54-399c3367d6f2.

[2022-04-27 06:14] naphatkrit commented on #363
Great, thank you!

On Tue, Apr 26, 2022 at 6:48 PM Alan Greene ***@***.***>
wrote:

[2022-04-28 09:31] binkkatal commented on #323
@AlanGreene , would like to contribute on this

[2022-04-28 10:14] AlanGreene commented on #323
Thanks
/assign @binkkatal

[2022-04-28 12:03] AlanGreene commented on #366
@binkkatal fyi, I found 1 more reference to the Try page and opened a PR to address it here: https://github.com/tektoncd/website/pull/372

[2022-04-28 12:08] AlanGreene commented on #369
Thanks for reporting this @dudash. It looks like the docs were updated to remove reference to the deprecated tap in CLI v0.23.0 but the latest docs on the website are for v0.20.0.

@tektoncd/cli-maintainers fyi

[2022-05-02 16:40] geriom opened #373 "Include introductory videos in "Getting Started" landing page"
### Feature request

Jerop Kipruto has a series of introductory videos that can be very useful for new Tekton Users:

- [Tekton for Kubernetes Cloud-Native CI/CD explained](https://www.youtube.com/watch?v=6oE7jgRuF2o)
- [Tekton CI/CD pipelines and tasks overview](https://www.youtube.com/watch?v=pW606eBa7og)
- [Tekton Chains: Extensibility, automation, and security](https://www.youtube.com/watch?v=

[2022-05-02 17:03] AlanGreene commented on #373
Great idea, this is something we discussed long ago for the now-defunct 'Try' page. I wasn't aware of these videos, checking them out now 👀

fyi @jerop

[2022-05-02 17:04] AlanGreene commented on #338
Still something we want to do, freezing so it doesn't get auto closed.
/lifecycle frozen

[2022-05-03 17:13] afrittoli commented on #335
/assign @binkkatal

[2022-05-03 17:14] binkkatal commented on #335
@afrittoli  can you please assign me this

[2022-05-03 17:14] binkkatal commented on #335
/assign @binkkatal

[2022-05-04 16:12] #366 closed

[2022-05-12 12:01] gbonnefille opened #379 "Add informations about multi-tenant scenario"
### Feature request

I did not find information about how Tekton is designed to address (or not?) a multi-tenant scenario.

### Use case

In a medium-sized corporation, we can have many really distinct projects. But some of these projects are small sized an cannot offer dedicated infrastructure. In the case of tekton, they would have to share a common installation. Nevertheless, they do not have t

[2022-05-14 00:21] #373 closed

[2022-05-16 08:35] jasperjonker opened #381 "https://tekton.dev/try not found"
# Expected Behavior
Working website for [https://tekton.dev/try](https://tekton.dev/try)

# Actual Behavior
![Screenshot_2022-05-16-103416](https://user-images.githubusercontent.com/44026484/168552314-6456c0de-6696-4ced-a4b4-6051c74e1cd4.png)

# Steps to Reproduce the Problem

1. Open [https://tekton.dev/try](https://tekton.dev/try)

# Additional Info

- Kubernetes version:

  **Output of `kubectl

[2022-05-16 09:28] AlanGreene commented on #381
@jasperjonker this is expected as the tekton.dev/try page was removed recently. Can you share where you found that URL? Did you follow a link from somewhere else or was it something you had bookmarked perhaps?

[2022-05-16 09:32] jasperjonker commented on #381
@AlanGreene Ahh I see. Yes I found it in the documentation here: https://tekton.dev/docs/

[2022-05-16 10:28] AlanGreene commented on #381
Thanks for bringing this to our attention! 😸  I've opened a PR to remove the link.

[2022-05-16 14:10] geriom commented on #346
I have currently a draft to address this issue #377, but may require bigger updates to avoid content drift.

/lifecycle frozen

[2022-05-18 09:23] #323 closed

[2022-05-19 18:39] #331 closed

[2022-05-23 02:55] ranbirkatal commented on #365
/assign @binkkatal

[2022-05-23 02:57] binkkatal commented on #365
/assign @binkkatal

[2022-05-23 09:00] upr-kmd opened #385 "Welcome to Tekton - dead link to Overview"
The text "Tekton is part of the [CD Foundation](https://cd.foundation/), a [Linux Foundation](https://www.linuxfoundation.org/projects/) project. For more information, see the [Overview of Tekton](https://tekton.dev/docs/overview)." contains a dead link.
The page https://tekton.dev/docs/overview does not exist

# Expected Behavior
The Overview page should be created.

# Actual Behavior
The Overvie

[2022-05-23 11:39] AlanGreene commented on #385
Thanks for reporting this @upr-kmd. The overview page was recently moved to https://tekton.dev/docs/concepts/overview/

I've opened a PR to update the link: https://github.com/tektoncd/website/pull/386

[2022-05-23 11:43] AlanGreene commented on #365
fyi @binkkatal this issue looks like a duplicate of https://github.com/tektoncd/website/issues/340
See some of the work that has already be done for that issue

[2022-05-23 11:46] AlanGreene commented on #65
This is currently working, the edit links point to the correct location in the repo for the owning project.

[2022-05-23 11:46] #65 closed

[2022-05-23 13:49] #385 closed, assigned to AlanGreene

[2022-05-24 07:48] #381 closed

[2022-05-24 08:25] #369 closed

[2022-05-24 14:24] #368 closed

[2022-06-02 05:01] binkkatal commented on #365
@AlanGreene , will verify and post and update

[2022-06-07 15:59] jasperjonker opened #389 "Overview of Tekton - Documentation link not working"
# Expected Behavior
The link towards the tekton overview page doesn't work:

# Actual Behavior
![bitmap](https://user-images.githubusercontent.com/44026484/172426781-f3f46de1-aeb1-446d-8366-d9aa53f03edf.png)

![Screenshot_2022-06-07-175739](https://user-images.githubusercontent.com/44026484/172426875-13062e84-22bd-43d7-88b0-e334685b2d17.png)

# Steps to Reproduce the Problem

1. Install the dashbo

[2022-06-15 01:05] binkkatal commented on #335
@InfoSec812 , can you help me with the page link where this example was picked up from.
i am unable to find them in the interceptor section

[2022-06-15 10:36] InfoSec812 commented on #335
It looks like someone has since changed the example to show that interceptors and bindings are put together: https://tekton.dev/docs/triggers/triggerbindings/#accessing-data-added-by-interceptorsdocstriggersinterceptors

From my perspective, it would still be helpful to call out that Interceptors work with bindings and cannot be used without one.

[2022-06-20 16:12] Arhell opened #392 "add & update favicons"
### Feature request

https://realfavicongenerator.net/favicon_checker?protocol=https&site=tekton.dev%2F#.YrCcRXbP23A

### Use case

for all browsers

/assign

[2022-06-23 15:17] Arhell opened #396 "Accessibility add alt to images"
https://tekton.dev/
/assign

[2022-06-26 09:51] Arhell opened #398 "Accessibility add link name"
https://tekton.dev/
/assign
![Screenshot_2](https://user-images.githubusercontent.com/26163841/175808793-6620d15a-d1c2-41f1-ac85-91f5fac4f278.png)

[2022-06-27 21:23] #396 closed, assigned to Arhell

[2022-06-29 08:01] Arhell opened #401 "add more space to content on mobile (ui)"
### Feature request

add more space to content on mobile
![Screenshot_2](https://user-images.githubusercontent.com/26163841/176384282-43b08e35-4177-4083-b90e-74ece80c2a16.png)

/assign

[2022-06-29 19:53] bacharacherif opened #402 "Welcome to Tekton"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2022-07-02 16:45] Arhell opened #404 "update hugo"
### Feature request

update hugo in netlify.toml

### Use case

up to date

/assign

[2022-07-05 09:10] Arhell opened #406 "fix small jump on open close dropdown"
![Screenshot_1](https://user-images.githubusercontent.com/26163841/177293492-8f0b55bb-2e7a-442c-b448-316ae2771436.png)
/assign

[2022-07-05 11:52] #402 closed

[2022-07-13 10:37] #401 closed

[2022-07-17 08:04] Arhell opened #411 "broken link results page"
# Steps to Reproduce the Problem

1. https://tekton.dev/docs/results/#overview
2. **proto/v1alpha2**

[2022-07-21 10:24] Arhell opened #414 "broken link Any.type"
# Steps to Reproduce the Problem

1. https://tekton.dev/docs/results/api/#records
2. Any.type

[2022-07-22 14:19] Ben-Pfirsich opened #415 "Explaining the relation between "Command", "Args" and "Script" in Tekton Steps"
Hello there,
I am new to Tekton and at the moment I am trying to understand the step syntax inside of tasks.
It seems like there are three different keywords that can be used inside a single step: "command", "args" and "script".
The documentation (https://tekton.dev/docs/pipelines/tasks/) is very detailed in explaining the "script" keyword but I can not find Info on how the other two work.

The on

[2022-07-25 15:29] r67yfyt opened #416 "How the same pipeline works in order?"
# Expected Behavior
if I have a pipeline named "A", when I excute pipelineruns named "A-1" and "A-2", i want A-2 wait util A-1 end. how can i do that?
By the way, Alibaba Flow can do that, here's the doc: https://help.aliyun.com/document_detail/153777.html
# Actual Behavior
i can't figure out how to deal with the problem, hardly find a solution in official document.
# Steps to Reproduce the Proble

[2022-07-25 16:24] AlanGreene commented on #416
Thanks for raising this issue @r67yfyt

This is not supported out of the box in Tekton Pipelines today however you may be interested in https://github.com/tektoncd/community/pull/716 and https://hackmd.io/GK_1_6DWTvSiVHBL6umqDA which discuss possible approaches to managing concurrency and this kind of behaviour.

Closing this issue to avoid forking the discussion but feel free to add your comments

[2022-07-25 16:24] #416 closed

[2022-07-27 00:25] AlanGreene commented on #414
@tektoncd/results-maintainers

[2022-07-28 16:42] #406 closed

[2022-07-29 08:13] vovtz commented on #365
It still looks like this 😞:

![image](https://user-images.githubusercontent.com/1536228/181715217-c66aa934-9859-4d18-8803-9a1a91c8904d.png)

[2022-07-29 08:14] vovtz commented on #340
/remove-lifecycle stale

Still looks like:

![image](https://user-images.githubusercontent.com/1536228/181715389-e0b625af-09f3-4e92-8b9c-01e8b547ad3b.png)

[2022-07-29 08:17] vovtz commented on #340
The <img/> tag references https://tekton.dev/docs/triggers/images/TriggerFlow.svg, which doesn’t exist.

[2022-08-02 13:45] binkkatal commented on #365
@vovtz , still needs to cover up some test cases

[2022-08-02 19:30] vovtz commented on #365
@binkkatal Who needs to do that?

[2022-08-03 02:40] binkkatal commented on #365
@vovtz  i am working on it, did some changes in https://github.com/in2tivetech/tekton-website/commit/5cfe97f15c811fdf197cd72a6f4efbaf4dfae3a9 , need to check up against some test cases.

[2022-08-08 07:23] fgiloux opened #419 "TektonConfig: keep-since not documented"
# Expected Behavior

have keep-since documented here:
https://tekton.dev/docs/operator/tektonconfig/

# Actual Behavior
No mention of keep-since in the documentation

# Additional Info
keep-since has been part of TektonConfig API for a while:
https://github.com/tektoncd/operator/blob/main/pkg/apis/operator/v1alpha1/tektonconfig_types.go#L58-L61

[2022-08-09 12:34] #414 closed

[2022-08-12 15:18] #411 closed

[2022-08-15 11:38] Arhell opened #422 "Accessibility update footer github link"
![Screenshot_1](https://user-images.githubusercontent.com/26163841/184628520-f71d2977-7ba0-4474-b7d1-253171694d9a.png)
/assign

[2022-08-16 15:34] lbernick commented on #363
Tekton generated API references is now available for Pipelines [here](https://github.com/tektoncd/pipeline/blob/main/docs/pipeline-api.md)

[2022-08-16 15:35] lbernick commented on #363
This also looks like a duplicate of #117?

[2022-08-16 15:43] AlanGreene commented on #363
Related but not a duplicate IMO. #117 covers publishing the content of the API references on the website. The content is available for Pipelines now at the location you referenced above.

This issue is specifically related to the link in the overview doc which currently points to Kubernetes docs. Pointing to these new Pipeline API reference docs would definitely be useful but doesn't cover the Tri

[2022-08-17 10:46] michaelsatish opened #424 "Supply Chain Security - Getting Started"
# Expected Behavior
The word "TaskRuns" on the first bullet point under the **Current features include** section lacks highlights. The whole word should be highlighted.

Signing `TaskRun` results with user provided cryptographic keys, including `TaskRuns` themselves and OCI Images

# Actual Behavior

Signing `TaskRun` results with user provided cryptographic keys, including `TaskRun`s themselves a

[2022-08-17 11:04] AlanGreene commented on #424
I believe this is intentional as `TaskRun` is the kind that's being referenced. However, we do appear to have some inconsistency across the docs, with some content using `TaskRun`s and other `TaskRuns`.

@geriom fyi

[2022-08-24 11:26] Arhell opened #427 "docs navigation bug"
# Expected Behavior
![Screenshot_2](https://user-images.githubusercontent.com/26163841/186406877-cfac00f5-ae78-4fdc-a218-4876f22bf8f9.png)

# Actual Behavior
![Screenshot_1](https://user-images.githubusercontent.com/26163841/186406816-c109435d-d9a8-4202-97ae-4721ae405dc2.png)

# Steps to Reproduce the Problem

1. https://tekton.dev/docs/

/assign

[2022-08-24 11:33] AlanGreene commented on #427
Thanks for raising the issue @Arhell. Can you clarify what the problem is that you're seeing?

Is it the angle of the arrow icon? If so, that is the hover state for the navigation. When you mouseover an item in the list the arrow rotates 30 degrees. It animates between its states, including when expanding and collapsing the nav items.

[2022-08-24 11:55] Arhell commented on #427
When hovering, it should turn down or not turn at all. I'll fix it soon, it doesn't look good

[2022-08-25 12:08] #427 closed

[2022-08-26 21:52] #404 closed

[2022-08-30 08:45] Arhell opened #430 "update hugo"
https://github.com/gohugoio/hugo/releases/tag/v0.102.1
/assign

[2022-08-30 16:05] geriom opened #432 "Proposal for vendor-specific documentation"
To improve the *real world* usability of the documentation, it would be helpful to include vendor-specific documentation for common tasks like installation and authentication.

This proposal shows an example of how this can be implemented with the current documentation tools.

- Create a `vendors` folder with subfolders for each vendor. For example:

[code]
- Use the `readfile` shortcut to include

[2022-08-31 11:46] afrittoli opened #434 "Create a releases page for each project on the website"
Using the releases GitHub api and the information about the life span of releases (see https://github.com/tektoncd/community/issues/807), produce one page pre project (or one page with all projects in tabs) that displays release for projects (pipeline, triggers, cli, dashboard, operator, chains), with the following data:

- Latest release
- End of life
- Patch releases

The end result could look a

[2022-08-31 13:50] #392 closed

[2022-09-01 10:36] #422 closed

[2022-09-04 12:34] Arhell opened #435 "home page bug on mobile"
# Expected Behavior
Offer full width on mobile

# Actual Behavior
![Screenshot_2](https://user-images.githubusercontent.com/26163841/188313679-593ef8b3-7589-4bad-be84-3bcfdca19838.png)

/assign

[2022-09-09 23:27] oxr463 opened #437 "Getting started with Tasks"
# Expected Behavior

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Run `tekton_in_kind.sh` from here: https://github.com/tektoncd/plumbing/tree/main/hack#tekton_in_kindsh
2. Create `hello-world.yaml` Task from "Getting started with Tasks" document.
3. Run `kubectl apply -f ./hello-world.yaml`

# Additional Info

[code]

[2022-09-14 13:31] #430 closed

[2022-09-16 09:21] Arhell opened #441 "update hugo to 0.103.0"
https://github.com/gohugoio/hugo/releases/tag/v0.103.0
/assign

[2022-09-19 14:16] jjuarez opened #443 "Metrics server addon for minikube is required before to deploy Tekton pipelines"
# Expected Behavior
To have a functional cluster at the end of the install section.

# Actual Behavior
After the "standard" installation of minikube and trying to install the Tekton stuff using the YAML manifests the pods were not working because of the lack of a proper metrics server deployment.

# Steps to Reproduce the Problem
1. Start minikube
2. Install Tekton pilines
3. The deployment is not

[2022-09-20 09:25] afrittoli commented on #443
Hi @jjuarez - thanks for reporting this.
I didn't realise we had an hard requirement on a metrics server, if you have the log from the controller would you mind pasting it here? Thank you!

[2022-09-20 13:19] jjuarez commented on #443
Ok, thanks that's the key, I'm using kuberntes `1.25.0`

[2022-09-20 13:19] #443 closed

[2022-09-20 13:22] AlanGreene commented on #443
Ah ok, in that case you should see errors when applying the pipelines yaml.

@afrittoli @geriom we should probably update the tutorials and anywhere else using minkube to pin the Kubernetes version until we land support for 1.25

[2022-09-20 14:08] AlanGreene commented on #437
This seems like an issue with the health of your kind cluster, perhaps it does not have sufficient resources. I would not expect to see most of your pods restart as they appear to have in your output.

Are you running on docker or podman? Which Tekton versions, etc.

I've just run the script myself and was able to apply the Task successfully.
`CONTAINER_RUNTIME=docker ./tekton_in_kind.sh`

[2022-09-20 20:05] oxr463 commented on #437
Do you happen to know what the minimum resource requirements are? I've got a vagrant box with 2 GB RAM and 2 vCPU at the moment.

[code]

[2022-09-22 22:35] Arhell opened #447 "Cookie banner doesn't close on click"
# Expected Behavior
close on click

# Actual Behavior
![Screenshot_2](https://user-images.githubusercontent.com/26163841/191863103-7d620656-fef9-4cbe-80cc-b09029dfcde7.png)
![Screenshot_3](https://user-images.githubusercontent.com/26163841/191863108-b7a7b516-eb86-45eb-ae1b-29f10bb972d1.png)
![Screenshot_4](https://user-images.githubusercontent.com/26163841/191863114-3dfb1a20-93d1-4429-8526-5997d3d

[2022-09-23 16:12] dibyom opened #448 "More prominent calllout to Join the Tekton community in the website"
### Feature request

Current we have  "Contributions welcome " with a Read more link that takes you to the GitHub org page. Few things we could do:

1. Link to https://github.com/tektoncd/community#welcome-to-the-tekton-community instead
2. A larger callout?
3. Earlier in the webpage  so you don't have to scroll down to find how to join the Tekton community?

### Use case

1. Make How to get invol

[2022-09-23 16:12] dibyom commented on #448
@afrittoli @geriom @alhuizenga @lbernick

[2022-09-23 16:16] AlanGreene commented on #447
Thanks for reporting this @Arhell. It looks like it may have been introduced by https://github.com/tektoncd/website/pull/446/files#diff-96dd75a968976edd5e03170268ed9085733f75c3fb24f992ae613c89e6de42dcL22-L25, @geriom fyi, as it worked on other previews generated before this change.

[2022-09-23 16:58] geriom commented on #448
Related to #217

[2022-09-23 17:40] geriom commented on #447
Moving JQuery back to header #449

[2022-09-26 11:15] #447 closed

[2022-09-26 14:33] #441 closed

[2022-09-27 12:11] afrittoli commented on #448
Yes, this is also a requirement for the OpenSSF badge, so we should address this.

[2022-09-27 12:17] afrittoli commented on #117
Reference is published at https://tekton.dev/docs/pipelines/pipeline-api/
@vdemeester ok to close?

[2022-09-27 19:19] #435 closed

[2022-09-28 21:06] dibyom opened #453 "Triggers and EventListeners"
# Expected Behavior

The Trigger flow diagram shows up on the page

# Actual Behavior

The trigger flow image doesn't show up

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

The request to https://tekton.dev/docs/triggers/images/TriggerFlow.svg returns a 404

Actual image is here: https://github.com/tektoncd/triggers/blob/main/docs/images/TriggerFlow.svg

[2022-09-28 21:25] AlanGreene commented on #453
Looks like a duplicate of https://github.com/tektoncd/website/issues/340

There was a PR open attempting to address it, might need some more work to close it out.

[2022-09-30 16:48] afrittoli commented on #434
The Kubernetes community has written [short code](https://github.com/kubernetes/website/blob/main/layouts/shortcodes/release-data.html) for releases on the website we could probably re-use something similar.

[2022-10-03 14:19] afrittoli commented on #434
The graduation requirement shall be satisfied once https://github.com/tektoncd/community/issues/801 is implemented.
I will keep this task open as we may want to add this information on tekton.dev as well.

[2022-10-05 10:55] Arhell opened #457 "update hugo to 0.104.3"
https://github.com/gohugoio/hugo/releases/tag/v0.104.3
/assign

[2022-10-09 13:40] #379 closed

[2022-10-13 11:39] InfoSec812 commented on #335
/remove-lifecycle rotten
/remove-lifecycle stale

[2022-10-15 16:40] #363 closed

[2022-10-19 09:15] #217 closed

[2022-10-19 09:15] #448 closed

[2022-10-26 16:58] geriom commented on #424
I think this was already changed on the corresponding repo.

Something worth mentioning is that we are following [Kubernetes guidelines](https://kubernetes.io/docs/contribute/style/style-guide/#use-upper-camel-case-for-api-objects) in this regard, namely use upper camel case for API objects and do not use code style unless it specifically referring to code or file names.

So I that case it should

[2022-10-26 16:58] #424 closed

[2022-10-26 17:00] #346 closed

[2022-10-26 17:07] geriom commented on #17
The [onboarding experience](https://tekton.dev/docs/getting-started/) for new users is a lot better now, with introductory videos and bite-sized friendly tutorials.

Closing this one.

[2022-10-26 17:07] #17 closed

[2022-10-26 17:28] geriom opened #465 "left nav pane not showing on landing pages for vault docs"
# Expected Behavior

Nav pane showing as on the main docs

# Actual Behavior

The nav pane is empty.

# Steps to Reproduce the Problem

1. Go to [Pipelines 0.38](https://tekton.dev/vault/pipelines-v0.38.x/). No nav pane.
2. Go to a subpage, for instance the [matrix docs](https://tekton.dev/vault/pipelines-v0.38.x/matrix/). Nav pane is back.

# Additional Info

The code that handles the vault docs

[2022-10-27 09:08] AlanGreene commented on #340
/remove-lifecycle stale

[2022-10-27 10:35] franeksaww opened #467 "Pipeline Metrics"
Hi!
I found that metrics.pipelinerun.duration-type has the same argument (histogram) for histogram and gauge/lastvalue type.

![Screenshot from 2022-10-27 12-33-38](https://user-images.githubusercontent.com/58147905/198262369-362f1060-c36d-46df-960a-1e1b85600acf.png)

[2022-10-27 11:59] AlanGreene commented on #467
Looks like there's already a PR open to fix this: https://github.com/tektoncd/pipeline/pull/5650

[2022-11-09 15:54] bluedog13 opened #471 "Getting Started with Triggers : Missing service/el-hello-listener definition"
In the section: [Running the Trigger](https://tekton.dev/docs/getting-started/triggers/#running-the-trigger), for the below line of code
[code]

**The service/el-hello-listener is not defined/declared in the documentation**.  I don't see service/el-hello-listener created by default in the k8s cluster either by running all the previous steps mentioned in the documentation either.

Is the service de

[2022-11-09 16:54] #457 closed

[2022-11-09 22:42] Arhell opened #473 "update hugo to 0.105.0"
https://github.com/gohugoio/hugo/releases/tag/v0.105.0

[2022-11-27 00:31] Arhell opened #478 "remove unnecessary file"
### Feature request

remove unnecessary file
https://github.com/tektoncd/website/blob/main/.hugo_build.lock
https://github.com/google/docsy/blob/main/.gitignore#L5

/assign

[2022-11-28 11:06] #117 closed

[2022-11-28 11:11] afrittoli opened #481 "Remove EOL releases from the website rendered docs."
### Feature request

We now have an LTS policy in place as well as release documentation for various repos (e.g. https://github.com/tektoncd/pipeline/blob/main/releases.md). We should render the documentation only for releases which are supported, and for older ones point to the github tags.

### Use case

- Highlight which releases are supported
- keep the version dropdown menu to a usable size

[2022-11-30 17:01] geriom commented on #478
Closing this. Reason: Intended behavior

[2022-11-30 17:01] #478 closed

[2022-11-30 19:41] justinabrahms opened #484 "Broken image link"
The final image at https://tekton.dev/docs/chains/signed-provenance-tutorial/ is returning a 404.

https://tekton.dev/docs/chains/signed-provenance-tutorial/images/signed_provenance.png is the image url.